<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
    <link rel="stylesheet" href="__PUBLIC__/assets/viewer/css/viewer.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/account.css">



    <title>西瓜游-景点</title>
</head>

<body>
    <include file="Common/navbar" />
    <div class="bg-gray-f6">
     	<div class="container p-t-md">
        <include file="Account:menu" />
        <div class="row">
          <div class="col-xs-9">
            <!-- <include file="AccountContent:userList" /> -->
            <include file="AccountContent:cityList" />
            
            
          </div>

          <div class="col-xs-3">
            <include file="Account:sideMenu" />
          </div>
        </div>
        
      </div>
    </div>


    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />


</html>