<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
    <link rel="stylesheet" href="__PUBLIC__/assets/viewer/css/viewer.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/account.css">
  	<link rel="stylesheet" href="__PUBLIC__/css/account_board.css">


    <if condition="(CONTROLLER_NAME eq 'Account') and (ACTION_NAME eq 'topic')">
      <link rel="stylesheet" href="__PUBLIC__/css/topic.css">
    </if>


    <if condition="(CONTROLLER_NAME eq 'Account') and (ACTION_NAME eq 'edit')">
      <link rel="stylesheet" href="__PUBLIC__/css/wait.css">
    </if>


    <title>西瓜游-景点</title>
  <php>
    if(session('login') == $user_id)//判断是自己还是他人
      $self = '我';
    else
      $self = 'TA';
  </php>
</head>

<body>
    <include file="Common/navbar" />
    <div class="bg-gray-f6">
     	<div class="container p-t-md">
        <include file="Account:menu" />
        <div class="row">
          <div class="col-xs-9">
            <include file="AccountContent:userList" />
            
            
          </div>

          <div class="col-xs-3">
            <include file="Account:sideMenu" />
          </div>
        </div>
        
      </div>
    </div>


    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />


</html>