<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
    <link rel="stylesheet" href="__PUBLIC__/assets/viewer/css/viewer.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/account.css">
  	<link rel="stylesheet" href="__PUBLIC__/css/account_board.css">


    <if condition="(CONTROLLER_NAME eq 'Account') and (ACTION_NAME eq 'topic')">
      <link rel="stylesheet" href="__PUBLIC__/css/topic.css">
    </if>

    <if condition="(CONTROLLER_NAME eq 'Account') and (ACTION_NAME eq 'travelNote')">
      <link rel="stylesheet" href="__PUBLIC__/css/travel.css">
    </if>



    <if condition="(CONTROLLER_NAME eq 'Account') and (ACTION_NAME eq 'edit')">
      <link rel="stylesheet" href="__PUBLIC__/css/wait.css">
    </if>

    <if condition="$info['id'] eq session('login')"> <assign name="refer" value="我" />
    <else /><assign name="refer" value="TA" />
    </if>
    <title>西瓜游-景点</title>
    <php>
    if(session('login') == $user_id)//判断是自己还是他人
      $self = '我';
    else
      $self = 'TA';
  </php>
</head>

<body>
    <include file="Common/navbar" />
    <div class="bg-gray-f6">
     	<div class="container p-t-md">
        <include file="Account:menu" />
        <div class="row">
          <div class="col-xs-9">
            <include file="$content" />
            
          </div>

          <div class="col-xs-3">
            <!-- <include file="AccountContent:sideContent" /> -->
            {:W('Account/sideBar',array($info['id']))}
          </div>
        </div>
        
      </div>
    </div>


    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/viewer/js/viewer.min.js"></script>
<script type="text/javascript" src="/watermelon/Public/assets/jquery/js/jquery.scrollLoading.js"></script>
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";

  option = {
        loadUrl : "{:U('Index/ajax_load')}",
        num: 100
    };
 $(function(){
  $('.pic_thumb').scrollLoading();
  var options = {

    title:false,
    maxZoomRatio:1,
    url: 'data-original',
  };
  $('.images').viewer(options);
 })
</script>
<script type="text/javascript" src="__PUBLIC__/js/photoViewer.js"></script>

<if condition="(CONTROLLER_NAME eq 'Account') and (ACTION_NAME eq 'edit')">
  <script type="text/javascript">
    var province_change_url = "{:U('AddressProvinces/change')}";
  </script>
  <script type="text/javascript" src="__PUBLIC__/js/wait.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/edit_information.js"></script>
</if>
<if condition="(CONTROLLER_NAME eq 'Account') and (ACTION_NAME eq 'board')">
<script type="text/javascript">
  $(document).ready(function($) {
    $('.board').click(function(event) {
      var _self = $(this);
      var receiver = _self.attr('data-sender');
      var board_id = _self.attr('data-board-id');
      var nickname = _self.attr('data-nickname');
      var str = '<div class="btn-group btn-sm m-t-md">'+
              '<a class="btn btn-default reply-user" data-receiver="'+receiver+'" data-board-id="'+board_id+'">回复：'+nickname+'</a>'+
              '<a href="javascript:void(0)" class="btn btn-info dropdown-toggle remover-reply">×</a>'+
            '</div>';
      $('.reply-container').html(str);

    });
    $(document).on('click',".remover-reply",function(){
      $(this).parent().remove();
    })
    $("#boardAdd").click(function(event) {
      var reply = $('.reply-container');
      var reply_btn = reply.find(".reply-user");
      var receiver , board_id;
      if(reply_btn.length>0){
        receiver = reply_btn.attr('data-receiver');
        board_id = reply_btn.attr('data-board-id');
      }else{
        receiver = board_id = 0;
      }
      var content = $.trim($("#saytext").val());
      var user_id = {$info.id};
      if(content!=''){
        $.ajax({
          url: '{:U("Board/board")}',
          type: 'post',
          dataType: 'json',
          data: {board_id: board_id,receiver:receiver,content:content,user_id:user_id},
        })
        .done(function(data) {
          console.log(data);
          if(data.code==200){
            alert('操作成功');
            history.go(0);
          }
          else
            alert(data.mes);
        })
        .fail(function() {
          alert('请求错误')
        })
      }else{
        alert('请输入内容')
      }
      
    });
  });

</script>
</if>

<script type="text/javascript">
  $(function(){
    $("#attention").click(function(){
      var obj = $(this);
      var follow_id = {$user_id};
      $.ajax({
          url: '{:U("Attention/AjaxAttention")}',
          type: 'post',
          dataType: 'html',
          data: {follow_id: follow_id},
          success:function(data){
            var result = $.parseJSON(data);
            if(result.Code =='202')
              $.toaster({ priority : 'danger', title : '通知', message : result.Message});
            else{
              if(result.Code =='200'){
                  obj.addClass('active').html('<span class="glyphicon glyphicon-ok"></span> 已关注');
              }
              else if(result.Code == '201'){
                  obj.removeClass('active').html('<span class="glyphicon glyphicon-plus"></span> 关注');
              }
                 
            }
          },
          error:function(xhr){
            alert('请求失败')
          }
      });
      
    })
  })

</script>



</html>