<div class="bg-white p-md border-gray-e">
	<div class="header_container">
		<img class="u_icon" src="__PUBLIC__/img/f4.jpg">
		<div class="info">
			<div class="nickname">
				这是一个昵称
				<button class="btn btn-xs btn-success m-l-sm">
					<span class="glyphicon glyphicon-plus"></span> 加关注
				</button>
				<button class="btn btn-xs btn-success active m-l-sm">
					<span class="glyphicon glyphicon-ok"></span> 已关注
				</button>
			</div>
			<div class="text tc-gray9">
				<span style="font-size:24px">“</span>
				做我自己想做的事，走自己想走的路，过不一样的生活，我的人生我做主我为自己代言，我就是哑舍格拉
			</div>
		</div>
	</div>
</div>
<ul class="menu bg-white m-b-sm">
	<li <if condition="ACTION_NAME eq 'dynamics'">class="active"</if> ><a href="{:U('Account/dynamics')}">动态</a></li>
	<li <if condition="ACTION_NAME eq 'travelNote'">class="active"</if> ><a href="{:U('Account/travelNote')}">游记</a></li>
	<li <if condition="ACTION_NAME eq 'topic'">class="active"</if> ><a href="{:U('Account/topic',array('id'=>$user_id))}">话题</a></li>
	<li <if condition="ACTION_NAME eq 'board'">class="active"</if> ><a href="{:U('Account/board')}">留言板</a></li>
	<li <if condition="ACTION_NAME eq 'album' or ACTION_NAME eq 'photo'">class="active"</if> ><a href="{:U('Account/album')}">照片</a></li>
	<li <if condition="ACTION_NAME eq 'collection'">class="active"</if> ><a href="{:U('Account/collection')}">我的收藏</a></li>
	<li <if condition="ACTION_NAME eq 'message'">class="active"</if> ><a href="{:U('Account/message')}">我的消息 <span class="label label-info">5</span></a></li>
	<li class="last <if condition="ACTION_NAME eq 'information'">active</if>"><a href="{:U('Account/information')}"><span class="glyphicon glyphicon-user"></span> 个人资料</a></li>
	<li><a href="#">退出登录</a></li>
</ul>