<div class="bg-white p-md border-gray-e">
	<div class="header_container">
		<img class="u_icon" src="__PUBLIC__/img/f4.jpg">
		<div class="info">
			<div class="nickname">
				这是一个昵称
				<button class="btn btn-xs bg-main m-l-sm">
					<span class="glyphicon glyphicon-plus"></span> 加关注
				</button>
				<button class="btn btn-xs bg-main active m-l-sm">
					<span class="glyphicon glyphicon-ok"></span> 已关注
				</button>
			</div>
			<div class="text tc-gray9">
				<span style="font-size:24px">“</span>
				做我自己想做的事，走自己想走的路，过不一样的生活，我的人生我做主我为自己代言，我就是哑舍格拉
			</div>
		</div>
	</div>
</div>
<ul class="menu bg-white m-b-sm">
	<li><a href="#">动态</a></li>
	<li class="active"><a href="#">游记</a></li>
	<li><a href="#">装备</a></li>
	<li><a href="#">话题</a></li>
	<li><a href="#">留言板</a></li>
	<li><a href="#">照片</a></li>
	<li><a href="#">我的消息 <span class="label label-info">5</span></a></li>
	<li class="last"><a href="#"><span class="glyphicon glyphicon-user"></span> 个人资料</a></li>
</ul>