<div class="bg-white p-md border-gray-e">
	<div class="header_container">
		<img class="u_icon_" src="__PUBLIC__/img/f4.jpg">
		<div class="info">
			<div class="nickname">
				{$info.nickname}  &nbsp;
				<if condition="$info['id'] neq session('login')" >
					<if condition="$info['delete_tag'] eq '0'">
					<button class="btn btn-xs btn-success m-l-sm">
						<span class="glyphicon glyphicon-plus"></span> 加关注
					</button>
					<else />
					<button class="btn btn-xs btn-success active m-l-sm">
						<span class="glyphicon glyphicon-ok"></span> 已关注
					</button>
					</if>
				<else />
				</if>
			</div>
			<div class="text tc-gray9">
				<span style="font-size:24px">“</span>
				{$info.signature}
			</div>
		</div>
	</div>
</div>
<ul class="menu bg-white m-b-sm">
	<li <if condition="ACTION_NAME eq 'dynamics'">class="active"</if> ><a href="{:U('Account/dynamics',array('id'=>$info['id']))}">动态</a></li>
	<li <if condition="ACTION_NAME eq 'travelNote'">class="active"</if> ><a href="{:U('Account/travelNote',array('id'=>$info['id']))}">游记</a></li>
	<li <if condition="ACTION_NAME eq 'topic'">class="active"</if> ><a href="{:U('Account/topic',array('id'=>$info['id']))}">话题</a></li>
	<if condition="$info['id'] eq session('login')">
	<li <if condition="ACTION_NAME eq 'board'">class="active"</if> ><a href="{:U('Account/board',array('id'=>$info['id']))}">留言板</a></li><else />
	</if>
	<li <if condition="ACTION_NAME eq 'album' or ACTION_NAME eq 'photo'">class="active"</if> ><a href="{:U('Account/album',array('id'=>$info['id']))}">照片</a></li>
	<if condition="$info['id'] eq session('login')">
	<li <if condition="ACTION_NAME eq 'collection'">class="active"</if> ><a href="{:U('Account/collection',array('id'=>$info['id']))}">我的收藏</a></li><else />
	</if>
	<if condition="$info['id'] eq session('login')">
	<li <if condition="ACTION_NAME eq 'message'">class="active"</if> ><a href="{:U('Account/message',array('id'=>$info['id']))}">我的消息 <span class="label label-info">5</span></a></li><else />
	</if>
	<li class="last <if condition="ACTION_NAME eq 'information'">active</if>"><a href="{:U('Account/information',array('id'=>$info['id']))}"><span class="glyphicon glyphicon-user"></span> 个人资料</a></li>
	<if condition="$info['id'] eq session('login')">
	<li><a href="{:U('Login/outlogin')}">退出登录</a></li><else />
	</if>
</ul>