<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
    <link rel="stylesheet" href="__PUBLIC__/assets/viewer/css/viewer.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/account.css">
    <link rel="stylesheet" href="__PUBLIC__/css/account_pic.css">
    <link rel="stylesheet" href="__PUBLIC__/css/photoViewer.css">
  	<link rel="stylesheet" href="__PUBLIC__/css/photo.css">
    <link rel="stylesheet" href="__PUBLIC__/css/photo_upload.css">


    <title>西瓜游-景点</title>
  <php>
    if(session('login') != $user_id)//判断是自己还是他人
      $self = 'TA';
    else
      $self = '我';
  </php>
</head>

<body>



    <include file="Common/navbar" />
    <div class="bg-gray-f6">
     	<div class="container p-t-md">
        <include file="Account:menu" />
        <div class="row">
          <div class="col-xs-12">
            <div class="m-t-sm">
              <a class="m-r-md font-16 tc-black" href="{:U('Account/album',array('id'=>$user_id))}">{$self}的相册({$albumnum})</a>
              <a class="font-16 tc-black" href="{:U('Account/photo',array('id'=>$user_id,'album_id'=>0))}">{$self}的旅游相片({$photonum})</a>
              <if condition="session('login') eq $user_id">
              <a href="#" class="btn btn-sm btn-info pull-right  m-l-sm" data-toggle="modal" data-target="#myModal">+创建相册</a>
              <a href="#" class="btn btn-sm btn-success pull-right photo_upload">上传相片</a>
              </if>
            </div>
            <div class="m-t-md">
              <include file="$content" />
            </div>
           
          </div>
        </div>
        
      </div>
    </div>
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建相册</h4>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          
          <fieldset>
           <div class="form-group">
              <label class="col-lg-2 control-label">相册名</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="album_name" placeholder="输入相册名">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-success btn-sm" id="album_add">创建</button>
        </div>
      </form>
    </div>
  </div>
</div>



<include file="ScenicContent/photoUpload" />
    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="/watermelon/Public/assets/jquery/js/jquery.scrollLoading.js"></script>
 
<script type="text/javascript" src="__PUBLIC__/js/photoViewer.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/exif/js/exif.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/img_base64.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/photo_upload.js"></script>
<script type="text/javascript">
  var _login_url = "{:U('Login/index')}?url=__SELF__";
  var album_url = "{:U('Album/load')}";
  var PUBLIC = "__PUBLIC__";
  var login_state = <if condition="session('?login')">true<else/>false</if>;
  var save_url = "{:U('Image/upload_save')}";
  var delete_url = "{:U('Image/cancel')}";
  var add_album_url = "{:U('Album/add')}";
  var scenic_id = 0;
  var city_id = 0;

 $(function(){
  $('.pic_thumb').scrollLoading();

  $(".photoItem img").photoViewer({
        loadUrl : "{:U('Image/albumLoad')}",
        num: '{$count}',
   });
 })
</script>
<script type="text/javascript">
// 新建相册JS
$(function(){
  $("#album_add").click(function(event) {
    var _self = $(this);
    _self.button('loading');
    var name = $.trim($("#album_name").val());
    if(name!=''){
      $.ajax({
        url: '{:U('Album/add')}',
        type: 'post',
        dataType: 'json',
        data: {name: name},
      })
      .done(function(data) {
        if(data.Code=='200'){
          $.toaster({ priority : 'success', title : '通知', message : '新建相册成功'});
          setTimeout(function(){
            history.go(0);
          },1500)
        }else{
          _self.button('reset');
          $.toaster({ priority : 'danger', title : '<span class="glyphicon glyphicon-remove"></span>  ', message : data.Message});
        }
      })
      .fail(function() {
        _self.button('reset');
        $.toaster({ priority : 'danger', title : '通知', message : '加载失败'});
      });
    }else{
      _self.button('reset');
      $.toaster({ priority : 'danger', title : '通知', message : '请输入相册名'});
    }
  });
})
</script>
<if condition="count($imgList) eq 0 and session('login') eq $user_id and ACTION_NAME eq 'photo'">
  <script type="text/javascript">
  $.toaster({ priority : 'danger', title : '通知', message : '暂无相片'});
    $(function(){
      $('.photo_upload').click();


      setTimeout(function(){
        $("#album").find('option[value="{$album_id}"]').attr('selected','');
      },1500)



    })
  </script>
</if>
</if>
</html>