
<div class="album_con">
	<volist name="album" id="vo">
	<div class="album_item">
		<a href="{:U('Account/photo',array('albumid'=>$vo['id']))}" class="pic_con" style="background-image:url('__PUBLIC__/img/f1.png')">
			<span class="num">
				<span class="font-12 glyphicon glyphicon-eye-open"></span>
					25
				<span class="font-12 m-l-sm glyphicon glyphicon-picture"></span>	
					15
			</span>
			<span class="browse">

			</span>
		</a>
		<div class="to1 info">
			<a class="tc-black" href="{:U('Account/photo',array('albumid'=>$vo['id']))}">{$vo.name}</a>
		</div>
	</div>

	</volist>

</div>