<div class="font-20 m-b-sm p-l-sm">留言板(20)</div>
<div class="p-md border-gray-e bg-white m-b-md">
	<for start="1" end="5">
	<div class="board-item p-b-md border-gray-b-e m-b-md">
		<div class="media">
			<div class="media-left">
				<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/f2.png" alt="..."></a>
			</div>
			<div class="media-body">
				<a href="#" class="media-heading">Media heading</a>
				<div class="m-t-xs line-24">
					看完您的说说后,我的心久久不能平静!这条说说构思新颖,题材独具匠心,段落清晰,情节诡异,跌宕起伏,主线分明,引人入胜,平淡中显示出不凡的文学功底,可谓是字字珠玑,句句经典,是我辈应学习之典范.就小说艺术的角度而言,可能不算太成功,但它的实验意义却远大于成功本身
				</div>
				<div class="m-t-xs tc-gray9">
					<span class="">2016-2-4</span>
					<a href="javascript:void(0)" class="pull-right">
						<span class="glyphicon glyphicon-comment"> </span>
						回复
					</a>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/f2.png" alt="..."></a>
					</div>
					<div class="media-body">
						<a href="#" class="media-heading">Media heading</a> 回复 <a href="#" class="media-heading">昵称2</a>
						<div class="m-t-xs line-24">
							看完您的说说后,我的心久久不能平静!这条说说构思新颖,题材独具匠心,段落
						</div>
						<div class="m-t-xs tc-gray9">
							<span class="">2016-2-4</span>
							<a href="javascript:void(0)" class="pull-right">
								<span class="glyphicon glyphicon-comment"> </span>
								回复
							</a>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
	</for>
	<div class="text-right">
		<ul class="pagination pagination-sm">
		  <li class="disabled"><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>	
	</div>

	<div class="font-20 m-b-lg">留个言吧</div>
	<div class="board-item p-b-md">
		<div class="media">
			<div class="media-left">
				<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/f2.png" alt="..."></a>
			</div>
			<div class="media-body">
				<textarea class="form-control" id="saytext" name="saytext" placeholder="客官，8个字起评，不讲价哟" rows="5" style="resize: none; overflow-y: hidden;"></textarea>
				
					<a href="javascript:void(0)" data-loading-text="发表中..." id="addComment" class="m-t-md btn bg-main btn-md">发表评论</a>
					<div class="reply-container">
						<div class="btn-group btn-sm m-t-md">
							<a class="btn btn-default reply-user" data-reply="0">回复：账号19</a>
							<a href="javascript:void(0)" class="btn btn-info dropdown-toggle remover-reply">×</a>
						</div>
					</div>
				
				<span style="position: relative;display: inline-block;vertical-align: middle;" class="m-l-sm m-t-md tc-gray9 tag ">请回复一些有意义的信息，不健康的内容将很快被删除。</span>
			</div>
		</div>
	</div>
</div>