<div class="font-20 m-b-sm p-l-sm">留言板({$count})</div>

<if condition="count($borad) neq 0">
<div class="p-md border-gray-e bg-white m-b-md">
	<volist name="borad" id="vo">
	<div class="board-item p-b-md border-gray-b-e m-b-md">
		<div class="media">
			<div class="media-left">
				<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/f2.png" alt="..."></a>
			</div>
			<div class="media-body">
				<a href="#" class="media-heading"></a>
				<div class="m-t-xs line-24">
					{$vo.content}
				</div>
				<div class="m-t-xs tc-gray9">
					<span class="">{$vo.time}</span>
					<a href="javascript:void(0)" class="pull-right">
						<span class="glyphicon glyphicon-comment"> </span>
						回复
					</a>
				</div>
				<volist name="$vo.reply" id="re">
				<div class="media">
					<div class="media-left">
						<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/{$re.senderinfo.icon}" alt="..."></a>
					</div>
					<div class="media-body">
						<a href="#" class="media-heading">{$re.ssenderinfo.nickname}</a> 回复 <a href="#" class="media-heading">{$re.receiverinfo.nickname}</a>
						<div class="m-t-xs line-24">
							{$re.content}
						</div>
						<div class="m-t-xs tc-gray9">
							<span class="">{$re.time}</span>
							<a href="javascript:void(0)" class="pull-right">
								<span class="glyphicon glyphicon-comment"> </span>
								回复
							</a>
						</div>
					</div>
				</div>
				</volist>


			</div>
		</div>
	</div>
	</volist>
	<div class="text-right">
		<ul class="pagination pagination-sm">
		  {$page}
		</ul>	
	</div>
	</div>
	<else/>
	<div class="text-center tc-gray9" style="height:210px;line-height:210px;">暂无话题</div>
</if>
<div class="p-md border-gray-e bg-white m-b-md">
	<div class="font-20 m-b-lg">留个言吧</div>
	<div class="board-item p-b-md">
		<div class="media">
			<div class="media-left">
				<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/f2.png" alt="..."></a>
			</div>
			<div class="media-body">
				<textarea class="form-control" id="saytext" name="saytext" placeholder="客官，8个字起评，不讲价哟" rows="5" style="resize: none; overflow-y: hidden;"></textarea>
				
					<a href="javascript:void(0)" data-loading-text="发表中..." id="addComment" class="m-t-md btn bg-main btn-md">发表评论</a>
					<div class="reply-container">
						<div class="btn-group btn-sm m-t-md">
							<a class="btn btn-default reply-user" data-reply="0">回复：账号19</a>
							<a href="javascript:void(0)" class="btn btn-info dropdown-toggle remover-reply">×</a>
						</div>
					</div>
				
				<span style="position: relative;display: inline-block;vertical-align: middle;" class="m-l-sm m-t-md tc-gray9 tag ">请回复一些有意义的信息，不健康的内容将很快被删除。</span>
			</div>
		</div>
	</div>
</div>