<div class="bg-white border-gray-e p-md font-12">
	<div class="font-16 p-b-md border-gray-b-e m-b-md">
		{$self}的想去(5)
	</div>
	<div class="row border-gray-b-e">
		<for start="1" end="9">
			<div class="col-xs-6">
				<div class="w_item">
					<a href="#">
						<img class="w_img" src="__PUBLIC__/img/f1.png">
					</a>
					<div class="info">
						<div class="title"><a href="#">成都</a></div>
						<div class="m-t-xs tc-gray9"><span class="keyword">1535</span>个人想去</div>
						<div class="m-t-xs tc-gray9">更新时间：<span class="tc-black">2016-2-5</span></div>
					</div>
				</div>
			</div>
		</for>
	</div>
</div>