<if condition="count($collection) neq 0">
<div class="bg-white p-md m-b-md border-gray-e over-h">
	<ul class="list">
		<volist name="collection" id="vo">
		<li>
			
				<switch name="vo.type" >
				<case value="1"><span class="m-r-xs tc-gray9">[ 游记 ]</span><a href="{:U('/tn/'.$vo['other_id'])}" target="_blank">{$vo.title}</a></case>
				<case value="2"><span class="m-r-xs tc-gray9">[ 话题 ]</span><a href="{:U('/t/'.$vo['other_id'])}" target="_blank">{$vo.title}</a></case>
				<case value="3"><span class="m-r-xs tc-gray9">[ 装备用品 ]</span><a href="{:U('/eq/'.$vo['other_id'])}" target="_blank">{$vo.title}</a></case>
				<default />
				</switch>
				
			
			
			<a href="{:U('Collection/delete',array('id'=>$vo['id']))}" title="取消收藏" class="op-close collection-close"><span class="glyphicon glyphicon-remove"></span></a>
		</li>
		</volist>
	</ul>


	<ul class="pagination pagination-sm pull-right m-t-lg">
        {$page} 
    </ul>



</div>
<else/>
<div class="text-center tc-gray9" style="height:210px;line-height:210px;">暂无收藏</div>
</if>