
<div class="bg-white p-md m-b-md border-gray-e over-h">
	<ul class="list">
		<li>
			<a href="#" target="_blank">
				<span class="m-r-xs tc-gray9">[ 话题 ]</span>
				ARCTERYX(始祖鸟) Fortrez Hoody Men's 抓绒衣裤
			</a>
			<span class="pull-right font-12 tc-gray9 time">2016-7-4</span>
			<a href="javascript:void(0)" title="取消收藏" class="op-close collection-close"><span class="glyphicon glyphicon-remove"></span></a>
		</li>
		<li>
			<a href="#" target="_blank">
				<span class="m-r-xs tc-gray9">[ 游记 ]</span>
				ARCTERYX(始祖鸟) Fortrez Hoody Men's 抓绒衣裤
			</a>
			<span class="pull-right font-12 tc-gray9 time">2016-7-4</span>
			<a href="javascript:void(0)" title="取消收藏" class="op-close collection-close"><span class="glyphicon glyphicon-remove"></span></a>
		</li>
		<li>
			<a href="#" target="_blank">
				<span class="m-r-xs tc-gray9">[ 装备 ]</span>
				ARCTERYX(始祖鸟) Fortrez Hoody Men's 抓绒衣裤
			</a>
			<span class="pull-right font-12 tc-gray9 time">2016-7-4</span>
			<a href="javascript:void(0)" title="取消收藏" class="op-close collection-close"><span class="glyphicon glyphicon-remove"></span></a>
		</li>
	</ul>


	<ul class="pagination pagination-sm pull-right m-t-lg">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
          </ul>



</div>