<volist name="dynamics" id="vo">
	<div class="dynamics-item bg-white border-gray-e m-b-sm">

		<div class="p-15 border-gray-b-e">
			<div class="media">
			  <div class="media-left">
			    <a href="{:U('/u/'.$vo['user_id'],'',false,false)}">
			      <img class="media-object media-img" src="{:C('__DATA__')}/login_thumb/{$vo.userinfo.icon|default='default.jpg'}">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading font-16"><a href="{:U('/u/'.$vo['user_id'],'',false,false)}">{$vo.userinfo.nickname}</a></h4>
			    <div class="dynamics-info">
			    	<switch name="vo.type">    
						<case value="1"><include file="Dynamics/dynamics1" /></case>
						<case value="2"><include file="Dynamics/dynamics2" /></case>
						<case value="3"><include file="Dynamics/dynamics3" /></case> 
						<case value="4"><include file="Dynamics/dynamics4" /></case> 
						<case value="5"><include file="Dynamics/dynamics5" /></case> 
						<case value="6"><include file="Dynamics/dynamics6" /></case> 
						<case value="7"><include file="Dynamics/dynamics7" /></case> 
						<case value="8"><include file="Dynamics/dynamics8" /></case> 
						<case value="9"><include file="Dynamics/dynamics9" /></case> 
						<case value="10"><include file="Dynamics/dynamics10" /></case> 
						<case value="11"><include file="Dynamics/dynamics11" /></case> 
						<case value="12"><include file="Dynamics/dynamics12" /></case> 
						<case value="13"><include file="Dynamics/dynamics13" /></case> 
						<case value="14"><include file="Dynamics/dynamics14" /></case> 
						<case value="15"><include file="Dynamics/dynamics15" /></case> 
						<case value="16"><include file="Dynamics/dynamics16" /></case> 
						<case value="17"><include file="Dynamics/dynamics17" /></case> 
						<case value="18"><include file="Dynamics/dynamics18" /></case> 
						<case value="19"><include file="Dynamics/dynamics19" /></case> 
						<case value="20"><include file="Dynamics/dynamics20" /></case> 
						<default />
					</switch>
			    </div>
			  </div>
			</div>
		</div>
		<div class="p-sm p-l-15 font-12 tc-gray9">
			<span class="glyphicon glyphicon-time"></span> {$vo.time}
		</div>
	</div>
</volist>

<ul class="pagination pagination-sm">
  {$page}
</ul>