<div class="m-t-sm m-b-md bg-white border-gray-e p-md font-12">
	<a href="#" class="pull-right btn btn-default btn-sm">编辑资料</a>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">用户名:</span>
		<span class="">麦乐</span>
	</div>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">职业:</span>
		<span class="">开发者</span>
	</div>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">所在地:</span>
		<span class="">广西玉林</span>
	</div>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">注册时间:</span>
		<span class="">2013-1-17 18:25</span>
	</div>
	<div class="m-l-md">
		<span class="tc-gray9 m-r-sm">最后登录时间:</span>
		<span class="">2013-1-17 18:25</span>
	</div>
</div>