<div class="m-t-sm m-b-md bg-white border-gray-e p-md font-12">
	<if condition="$info['id'] eq session('login')"><a href="{:U('Account/edit',array('info'=>$info))}" class="pull-right btn btn-default btn-sm">编辑资料</a><else />
	</if>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">用户名:</span>
		<span class="">{$logininfo.nickname}</span>
	</div>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">职业:</span>
		<span class="">{$userinfo.job}</span>
	</div>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">所在地:</span>
		<span class="">{$userinfo.province}</span>
	</div>
	<div class="m-l-md m-b-md">
		<span class="tc-gray9 m-r-sm">注册时间:</span>
		<span class="">{$logininfo.reg_time}</span>
	</div>
	<div class="m-l-md">
		<span class="tc-gray9 m-r-sm">最后登录时间:</span>
		<span class="">{$logininfo.last_time}</span>
	</div>
</div>