<!-- 修改密码 -->
<div class="m-t-sm m-b-md bg-white border-gray-e p-md font-12">
	<form class="form-horizontal" action="{:U('User/ChangePassword')}" method="post">
	  <fieldset>
	    <legend class="p-b-md font-16">修改密码</legend>

	    <div class="form-group">
	      <label for="inputPassword" class="col-xs-2 control-label">原密码</label>
	      <div class="col-xs-6">
	        <input type="password" class="form-control" name="o_password" placeholder="" >
	      </div>
	    </div>

	    <div class="form-group">
	      <label for="inputPassword" class="col-xs-2 control-label">新密码</label>
	      <div class="col-xs-6">
	        <input type="password" class="form-control" name="n_password" >
	      </div>
	    </div>

	    <div class="form-group">
	      <label for="inputPassword" class="col-xs-2 control-label">确认新密码</label>
	      <div class="col-xs-6">
	        <input type="password" class="form-control" name="re_password">
	      </div>
	    </div>
		

	    <div class="form-group">
	      <div class="col-xs-10 col-xs-offset-2">
	        <button type="submit" class="btn btn-success btn-sm" data-loading-text="提交中">提交修改</button>
	      </div>
	    </div>
	  </fieldset>
	</form>
</div>