
            <h4>TA去过的城市</h4>
            <ul class="city_list">
              <li><a href="#"><img src="__PUBLIC__/img/f5.jpg"></a><a href="#">哈尔滨</a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f4.jpg"></a><a href="#">成都</a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f2.png"></a><a href="#">桂林</a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f3.jpg"></a><a href="#">咸阳</a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f5.jpg"></a><a href="#">深圳</a></li>
            </ul>

            <hr>
            <h4>
              TA的粉丝(25)
              <a class="font-12 tc-gray9 pull-right m-t-xs" href="#">>>更多</a>
            </h4>
            <ul class="img_list">
              <li><a href="#"><img src="__PUBLIC__/img/f5.jpg"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f4.jpg"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f3.jpg"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f2.png"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f1.png"></a></li>
            </ul>


            <hr>
            <h4>
              TA的关注(25)
              <a class="font-12 tc-gray9 pull-right m-t-xs" href="#">>>更多</a>
            </h4>
            <ul class="img_list">
              <li><a href="#"><img src="__PUBLIC__/img/f5.jpg"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f4.jpg"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f3.jpg"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f2.png"></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/f1.png"></a></li>
            </ul>
            <hr>
