

<div class="travelNote-item border-gray-e p-md bg-white m-b-md m-t-sm">
	<div class="media">
	    <div class="media-left">
	    	<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/f2.png" alt="..."></a>
		</div>
	  	<div class="media-body">
	    	<h4 class="media-heading"><a class="tc-black" href="#">这是一个标题</a></h4>
		    <div class="info m-t-sm font-12">
		    	<a href="#" class="m-r-sm">这是一个昵称</a>
		    	<span class="m-r-sm">2015-2-4</span>
		    	<span class="m-r-sm la_item">成都</span>
		    </div>
		    <div class="m-t-sm travel_text">
		   	425大地震一周年之际，BBC播出了一系列追踪报道，着重展现重灾地区现状并批判了该国严重滞后的重建进程。 当画面切换到仍旧满目疮痍的Langtang村庄，小陶扭头问我：“你还记得这里么？”“当然，上一次我们还是坐在直升机里，还是飞行员告诉我们这里是被掩埋掉的Langtang。”当时以我的近视眼，往下望，只能看到一大堆黄土截断了一条河流。“Langtang就在那堆黄土之下。”飞行员看着我那
		   	</div>
		    <div class="m-t-sm over-h">
			   	<a class="travel_pic" href="#"><img src="http://image1.8264.com/forum/201605/31/191934bf17f7cc66b9q3c5.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/1929552y60qzq90jno6anj.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/193831l4r64xf9rtrl6l6s.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/194131763k6b4mom7cbeff.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/1942572gnkvvkn8kqxxxgp.jpg!t2w400h300"></a>
		    </div>


		    <div class="m-t-sm font-12 border-gray-b-e p-b-md m-b-xs">
		   		<span class="keywords">121</span>次浏览
		   		<span class="keywords m-l-md">121</span>次点赞
		    </div>
		</div>
	</div>





	<div class="media">
	    <div class="media-left">
	    	<a href="#"><img class="media-object media-img" src="__PUBLIC__/img/f2.png" alt="..."></a>
		</div>
	  	<div class="media-body">
	    	<h4 class="media-heading"><a class="tc-black" href="#">这是一个标题</a></h4>
		    <div class="info m-t-sm font-12">
		    	<a href="#" class="m-r-sm">这是一个昵称</a>
		    	<span class="m-r-sm">2015-2-4</span>
		    	<span class="m-r-sm la_item">成都</span>
		    </div>
		    <div class="m-t-sm travel_text">
		   	425大地震一周年之际，BBC播出了一系列追踪报道，着重展现重灾地区现状并批判了该国严重滞后的重建进程。 当画面切换到仍旧满目疮痍的Langtang村庄，小陶扭头问我：“你还记得这里么？”“当然，上一次我们还是坐在直升机里，还是飞行员告诉我们这里是被掩埋掉的Langtang。”当时以我的近视眼，往下望，只能看到一大堆黄土截断了一条河流。“Langtang就在那堆黄土之下。”飞行员看着我那
		   	</div>
		    <div class="m-t-sm over-h">
			   	<a class="travel_pic" href="#"><img src="http://image1.8264.com/forum/201605/31/191934bf17f7cc66b9q3c5.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/1929552y60qzq90jno6anj.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/193831l4r64xf9rtrl6l6s.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/194131763k6b4mom7cbeff.jpg!t2w400h300"></a>
			   	<a href="#" class="travel_pic"><img src="http://image1.8264.com/forum/201605/31/1942572gnkvvkn8kqxxxgp.jpg!t2w400h300"></a>
		    </div>


		    <div class="m-t-sm font-12 border-gray-b-e p-b-md">
		   		<span class="keywords">121</span>次浏览
		   		<span class="keywords m-l-md">121</span>次点赞
		    </div>
		</div>
	</div>



	<nav class="over-h">
	  <ul class="pagination pagination-sm pull-right">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>