

<div class="travelNote-item border-gray-e p-md bg-white m-b-md m-t-sm">
	<volist name="result" id="vo"> 
	<div class="media">
	    <div class="media-left">
	    	<a href="{:U('/u/'.$vo['user_id'],'',false,false)}"><img class="media-object media-img" src="{:C('__DATA__')}/login_thumb/{$vo['user']['icon']}" alt="..."></a>
		</div>
	  	<div class="media-body">
	    	<h4 class="media-heading"><a class="tc-black" target="_blank" href="{:U('/tn/'.$vo['id'])}">{$vo.title}</a></h4>
		    <div class="info m-t-sm font-12">
		    	<a href="{:U('/u/'.$vo['user_id'],'',false,false)}" class="m-r-sm">{$vo.user.nickname}</a>
		    	<span class="m-r-sm">{$vo.time}</span>
		    	<span class="m-r-sm la_item">{$vo.city}</span>
		    </div>
		    <div class="m-t-sm travel_text">
		   	{$vo.content}
		   	</div>
		    <div class="m-t-sm over-h">
		    	<for start="0" end="6" name="t">
			   	<a class="travel_pic" href="{$vo['pic'][0][$t]}"><img src="{$vo['pic'][0][$t]}"></a>
			   	</for>
		    </div>


		    <div class="m-t-sm font-12 border-gray-b-e p-b-md m-b-xs">
		   		<span class="keywords">{$vo.browse}</span>次浏览
		   		<!-- <span class="keywords m-l-md">{$vo.zan_count}</span>次点赞 -->
		    </div>
		</div>
	</div>
	</volist>


	<nav class="over-h">
	  <ul class="pagination pagination-sm pull-right">
		{$page}
	  </ul>
	</nav>
</div>