<div class="bg-white border-gray-e p-md font-12">
	<div class="font-16 p-b-md border-gray-b-e m-b-md">
		{$refer}的粉丝(5)
	</div>
	<for start="1" end="8">
	<div class="fans-item p-b-md m-b-md">
		<a href="#"><img class="fans-icon" src="__PUBLIC__/img/f1.png"></a>
		<a class="m-r-sm" href="#">麦乐</a>
		<span class="glyphicon glyphicon-home tc-grayb"></span> 广西壮族自治区 玉林市
		<a class="btn btn-success btn-xs pull-right m-t-sm f-theme follow" data-id="2"><span class="glyphicon glyphicon-plus"></span> 加关注</a>
	</div>
	</for>

</div>