<!DOCTYPE html>
<html>
<head>
	<include file="common/headerCSS" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/equipment.css">
	<title>西瓜游-装备详情</title>
</head>
<body>

	<include file="Common/navbar" />
	<div class="p-t-sm border-gray-b-e p-b-sm bg-gray-fa">
		<div class="container">
			<div class="font-20">
				装备用品
			</div>
			<div class="m-t-xs">
				<a href="#">首页</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<a href="#" class>装备用品</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<a href="#" class>装备分类</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<span class>装备名</span>
			</div>
		</div>
	</div>

	<div class="container m-t-md">
		<div class="row">
			<div class="col-xs-8">
				<div class="font-20 p-b-sm m-b-sm">{$equipment.name} </div>
				<div class="info_container">
					<div class="info_left table-tell">
						<a href="http://image1.8264.com/plugin/201403/14/150636ppucbmuhjbubpjjo.jpg!t3w322h0" target="_blank">
						<img src="{:C(__DATA__)}/{$equipment['image']}"></a>
					</div>
					<div class="info_right table-tell">
						<span class="font-16">{:W('Scenic/score',array('score'=>$equipment['grade']))}</span>
						<div class="tc-gray6 m-t-xs font-12">（{$equipment.gradenum}个人点评）</div>
						<div class="m-t-sm font-12">
							<div>
								{:W('Scenic/score',array('score'=>10,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:{$equipment['agrade'][4]}"></span>
								</span>
								<span class="m-l-sm tc-gray9">{$equipment['agrade'][4]}（力推）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>8,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:{$equipment['agrade'][3]}"></span>
								</span>
								<span class=" m-l-sm tc-gray9">{$equipment['agrade'][3]}（推荐）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>6,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:{$equipment['agrade'][2]}"></span>
								</span>
								<span class=" m-l-sm tc-gray9">{$equipment['agrade'][2]}（还行）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>4,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:{$equipment['agrade'][1]}"></span>
								</span>
								<span class=" m-l-sm tc-gray9">{$equipment['agrade'][1]}（较差）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>2,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:{$equipment['agrade'][0]}"></span>
								</span>
								<span class=" m-l-sm tc-gray9">{$equipment['agrade'][0]}（很差）</span>
							</div>
						</div>


						<div class="m-t-sm ">
							<div class="m-b-xs to1">
								<img class="sm_icon" src="__PUBLIC__/img/ebrand.png">
								<a class="tc-gray9 font-12" href="#">{$equipment.brandname}的更多品牌</a>
							</div>
							<div class="m-b-xs to1">
								<img class="sm_icon" src="__PUBLIC__/img/etype.png">
								<a class="tc-gray9 font-12" href="#">{$equipment.type}</a>
							</div>
							<div class="m-b-xs to1">
								<img class="sm_icon" src="__PUBLIC__/img/eprice.png">
								<a class="tc-gray9 font-12" href="#">￥{$equipment.price}</a>
							</div>

						</div>
					</div>
				</div>

				<div class="m-t-md font-20 p-b-sm border-gray-b-e">
					{$equipment.name}的简介
					<a href="javascript:void(0)" class="pull-right font-12 m-t-sm dp_a"><span class="glyphicon glyphicon-comment"></span> 我要点评</a>
				</div>
				<div class="e_content m-t-sm p-b-sm">
					<!-- 内容 -->
						{$equipment.description}
					<!-- /内容 -->
				</div>

				<div id="dp" class="m-t-lg font-20 p-b-sm border-gray-b-e">
					{$equipment.name}的点评
				</div>
				<div class="m-t-sm dp_level p-b-sm border-gray-b-e">
					<a href="{:U('Equipment/detail',array('id'=>$equipment['id']))}" class="active">全部（{$equipment.gradenum}）</a>
					<a href="{:U('Equipment/detail',array('id'=>$equipment['id'],'recommend'=>'10'))}" class="">5星</a>
					<a href="{:U('Equipment/detail',array('id'=>$equipment['id'],'recommend'=>'8'))}" class="">4星</a>
					<a href="{:U('Equipment/detail',array('id'=>$equipment['id'],'recommend'=>'6'))}" class="">3星</a>
					<a href="{:U('Equipment/detail',array('id'=>$equipment['id'],'recommend'=>'4'))}" class="">2星</a>
					<a href="{:U('Equipment/detail',array('id'=>$equipment['id'],'recommend'=>'2'))}" class="">1星</a>
				</div>

				<div class="m-t-sm">
					<volist name="commond" id="vo">
					<div class="media boder-b-dashed m-b-sm">
					  <div class="media-left">
					    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{$vo.userinfo.nickname}">
					      <img class="media-object c_u_icon" src="__PUBLIC__/img/{$vo.userinfo.icon}" alt="...">
					    </a>
					  </div>
					  <div class="media-body">
					    	<div class="rows_content">
					    		<div class="rows_sign bg-tj">
					    			<span class="glyphicon glyphicon-leaf"></span> 推荐
					    		</div>
								<div class="rows_info">
									{:W('Scenic/score',array('score'=>$vo['recommend'],'info'=>$vo['recommendinfo']))}
								</div>
					    	</div>
				

					    	<div class="rows_content">
					    		<div class="rows_sign bg-jgly">
					    			价格来源
					    		</div>
								<div class="rows_info">
									{$vo.price_source}
								</div>
					    	</div>

							<div class="rows_content">
					    		<div class="rows_sign bg-bz">
					    			<span class="glyphicon glyphicon-thumbs-down"></span> 不足
					    		</div>
								<div class="rows_info">
									{$vo.disadvantage}
								</div>
					    	</div>


							<div class="rows_content">
					    		<div class="rows_sign bg-yd">
					    			<span class="glyphicon glyphicon-thumbs-up"></span> 优点
					    		</div>
								<div class="rows_info">
									{$vo.advantage}
								</div>
					    	</div>
							
							<div class="rows_content">
					    		<div class="rows_sign bg-zh">
					    			<span class="glyphicon glyphicon-globe"></span> 综合
					    		</div>
								<div class="rows_info">
									{$vo.synthesize}
								</div>
					    	</div>
							
							<div class="rows_content">
								<div class="rows_info to1">
									<span class="tc-gray9 m-r-md">{$vo.time}</span>
									<a href="#" class="tc-gray9">{$equipment.name}</a>
								</div>
					    	</div>

					  </div>
					</div>
					</volist>
					<nav class="over-h">
					  <ul class="pagination pagination-sm pull-right">
						{$page}
					  </ul>
					</nav>
				</div>


				<div id="xie_dp" class="font-20 p-b-sm border-gray-b-e m-b-md">
					写点评
				</div>
				<include file="EquipmentContent/dp" /> 
			</div>
			<div class="col-xs-4">
				{:W('Equipment/side',array($equipment['type_id'],$equipment['brand_id']))}
			</div>
		</div>


	</div>

	<include file="Common/footer" />
</body>
<include file="common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/js/scenic_comment.js"></script>
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";
	var login_state = <if condition="session('?login')">true<else/>false</if>;
	var _login_url = "{:U('Login/index')}?url=__SELF__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/equipment.js"></script>
</html>