<!DOCTYPE html>
<html>
<head>
	<include file="common/headerCSS" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/equipment.css">
	<title>西瓜游-装备详情</title>
</head>
<body>

	<include file="Common/navbar" />
	<div class="p-t-sm border-gray-b-e p-b-sm bg-gray-fa">
		<div class="container">
			<div class="font-20">
				装备用品
			</div>
			<div class="m-t-xs">
				<a href="#">首页</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<a href="#" class>装备用品</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<a href="#" class>装备分类</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<span class>装备名</span>
			</div>
		</div>
	</div>

	<div class="container m-t-md">
		<div class="row">
			<div class="col-xs-8">
				<div class="font-20 p-b-sm m-b-sm">OSPREY  Stratos 云层24L 背包 </div>
				<div class="info_container">
					<div class="info_left table-tell">
						<a href="http://image1.8264.com/plugin/201403/14/150636ppucbmuhjbubpjjo.jpg!t3w322h0" target="_blank">
						<img src="http://image1.8264.com/plugin/201403/14/150636ppucbmuhjbubpjjo.jpg!t3w322h0"></a>
					</div>
					<div class="info_right table-tell">
						<span class="font-16">{:W('Scenic/score',array('score'=>9))}</span>
						<div class="tc-gray6 m-t-xs font-12">（56个人点评）</div>
						<div class="m-t-sm font-12">
							<div>
								{:W('Scenic/score',array('score'=>10,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:56%"></span>
								</span>
								<span class="m-l-sm tc-gray9">56%（力推）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>8,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:37%"></span>
								</span>
								<span class=" m-l-sm tc-gray9">37%（推荐）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>6,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:7%"></span>
								</span>
								<span class=" m-l-sm tc-gray9">7%（还行）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>4,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:0%"></span>
								</span>
								<span class=" m-l-sm tc-gray9">0%（较差）</span>
							</div>
							<div>
								{:W('Scenic/score',array('score'=>2,'info'=>' '))}
								<span class="progress_inline">
									<span class="progress_bar" style="width:0%"></span>
								</span>
								<span class=" m-l-sm tc-gray9">0%（很差）</span>
							</div>
						</div>


						<div class="m-t-sm ">
							<div class="m-b-xs to1">
								<img class="sm_icon" src="__PUBLIC__/img/ebrand.png">
								<a class="tc-gray9 font-12" href="#">OSPREY的更多品牌</a>
							</div>
							<div class="m-b-xs to1">
								<img class="sm_icon" src="__PUBLIC__/img/etype.png">
								<a class="tc-gray9 font-12" href="#">小型背包</a>
							</div>
							<div class="m-b-xs to1">
								<img class="sm_icon" src="__PUBLIC__/img/eprice.png">
								<a class="tc-gray9 font-12" href="#">￥123.5</a>
							</div>

						</div>
					</div>
				</div>

				<div class="m-t-md font-20 p-b-sm border-gray-b-e">
					OSPREY  Stratos 云层24L 背包的简介
					<a href="javascript:void(0)" class="pull-right font-12 m-t-sm dp_a"><span class="glyphicon glyphicon-comment"></span> 我要点评</a>
				</div>
				<div class="e_content m-t-sm p-b-sm">
					<!-- 内容 -->
						<p align="left">容量：50L<br>
						重量：2600g<br>
						面料：包主体为超轻高强度抗撕裂CROSSRIP3OOD尼龙和高强度耐磨防撕裂NAILHEAD420D尼龙<br>
						<strong>框架：</strong><br>
						轻便的带记忆性的铝杆<br>
						ERGOFORMPRO专业的背负系统能提供很好的负重，甚至是高于肩部和臀部以上的负重。<br>
						使用者可以根据自身情况调节背板长度<br>
						铝钢制支撑和宽厚的腰带也提供了很好的支撑，分散了负重，<br>
						在复杂艰苦的户外地形中也可以发挥出极好的负重性，<br>
						带救生口哨的可调节肩带，<br>
						双开式主仓（可从包顶进入，也可从正面拉链进入），包内部口袋，<br>
						可调节高度的包顶袋，<br>
						正面大口袋，<br>
						两侧可扩容的口袋，<br>
						包两侧大网袋<br>
						包底部口袋收纳袋，方便放置物品，<br>
						冰镐、冰斧、雪靴、登山杖悬挂件，<br>
						内部、侧面和底部压缩绑带，<br>
						兼容水合系统，<br>
						包底部整合防雨罩<br>
					<!-- /内容 -->
				</div>

				<div id="dp" class="m-t-lg font-20 p-b-sm border-gray-b-e">
					OSPREY  Stratos 云层24L 背包的点评
				</div>
				<div class="m-t-sm dp_level p-b-sm border-gray-b-e">
					<a href="#" class="active">全部（150）</a>
					<a href="#" class="">5星</a>
					<a href="#" class="">4星</a>
					<a href="#" class="">3星</a>
					<a href="#" class="">2星</a>
					<a href="#" class="">1星</a>
				</div>

				<div class="m-t-sm">
					<for start="1" end="5">
					<div class="media boder-b-dashed m-b-sm">
					  <div class="media-left">
					    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="这是一个昵称">
					      <img class="media-object c_u_icon" src="__PUBLIC__/img/udefault.png" alt="...">
					    </a>
					  </div>
					  <div class="media-body">
					    	<div class="rows_content">
					    		<div class="rows_sign bg-tj">
					    			<span class="glyphicon glyphicon-leaf"></span> 推荐
					    		</div>
								<div class="rows_info">
									{:W('Scenic/score',array('score'=>10,'info'=>'力荐'))}
								</div>
					    	</div>
				

					    	<div class="rows_content">
					    		<div class="rows_sign bg-jgly">
					    			价格来源
					    		</div>
								<div class="rows_info">
									15年6月份7＋2商城200元购得
								</div>
					    	</div>

							<div class="rows_content">
					    		<div class="rows_sign bg-bz">
					    			<span class="glyphicon glyphicon-thumbs-down"></span> 不足
					    		</div>
								<div class="rows_info">
									购买的绿色，内衬是黄色绒面的，容易脏，容易起球
								</div>
					    	</div>


							<div class="rows_content">
					    		<div class="rows_sign bg-yd">
					    			<span class="glyphicon glyphicon-thumbs-up"></span> 优点
					    		</div>
								<div class="rows_info">
									可以结合到大包上，徒步时非常方便，主包斜拉拉链使开口更大，方便取放相机，防雨罩设计很棒，关键时刻起很大作用，内衬很到位，非常好的保护相机
								</div>
					    	</div>
							
							<div class="rows_content">
					    		<div class="rows_sign bg-zh">
					    			<span class="glyphicon glyphicon-globe"></span> 综合
					    		</div>
								<div class="rows_info">
									从设计到质量，都能看出厂家很用心，从外观到实用几乎也无可挑剔，唯独价格感觉对于一个相机包来说还是偏高些，还有户外使用的包包质量第一，耐脏也是要很在乎的，希望以后还会提高
								</div>
					    	</div>
							
							<div class="rows_content">
								<div class="rows_info to1">
									<span class="tc-gray9 m-r-md">2015-9-16 22:19</span>
									<a href="#" class="tc-gray9">OSPREY Stratos 云层24L</a>
								</div>
					    	</div>

					  </div>
					</div>
					</for>
					<nav class="over-h">
					  <ul class="pagination pagination-sm pull-right">
						
						<li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>


				<div id="xie_dp" class="font-20 p-b-sm border-gray-b-e m-b-md">
					写点评
				</div>
				<include file="EquipmentContent/dp" /> 
			</div>
			<div class="col-xs-4">
				<include file="EquipmentContent/sideEquipment" />
			</div>
		</div>


	</div>

	<include file="Common/footer" />
</body>
<include file="common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/js/scenic_comment.js"></script>
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";
	var login_state = <if condition="session('?login')">true<else/>false</if>;
	var _login_url = "{:U('Login/index')}?url=__SELF__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/equipment.js"></script>
</html>