<!DOCTYPE html>
<html>
<head>
	<include file="common/headerCSS" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/equipment.css">
	<title>西瓜游-装备用品</title>
</head>
<body>

	<include file="Common/navbar" />
	<div class="p-t-sm border-gray-b-e p-b-sm bg-gray-fa">
		<div class="container">
			<div class="font-20">
				装备用品
			</div>
			<div class="m-t-xs">
				<a href="#">首页</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<span class>装备用品</span>
			</div>
		</div>
	</div>
	<div class=" border-gray-b-e">
		<div class="container m-t-md m-b-md">
			<div class="select_container">
				<div class="select_left border-l-blue">装备类型：</div>
				<div class="select_right">
					<a class="active" href="{:U('Equipment/index')}">全部</a>
					<volist name="type" id="vo">
						<a class="" href="{:U('Equipment/index',array('type_id'=>$vo['id']))}">{$vo.type}</a>
					</volist>
				</div>
			</div>
			<div class="select_container">
				<div class="select_left border-l-orange">装备价格：</div>
				<div class="select_right">
					<a href="{:U('Equipment/index',array('price'=>'lt 100'))}">100元以下</a>
					<a href="{:U('Equipment/index',array('price'=>'between 100,500'))}">100~500元</a>
					<a href="{:U('Equipment/index',array('price'=>'between 500,1000'))}">500~1000元</a>
					<a href="{:U('Equipment/index',array('price'=>'between 1000,2000'))}">1000~2000元</a>
					<a href="{:U('Equipment/index',array('price'=>'between 2000,3000'))}">2000~3000元</a>
					<a href="{:U('Equipment/index',array('price'=>'between 3000,4000'))}">3000~4000元</a>
					<a href="{:U('Equipment/index',array('price'=>'between 4000,5000'))}">4000~5000元</a>
					<a href="{:U('Equipment/index',array('price'=>'gt 5000'))}">5000以上</a>
				</div>
			</div>
			<div class="select_container">
				<div class="select_left border-l-darkblue">装备品牌：</div>
				<div class="select_right">
					<a class="active" href="{:U('Equipment/index')}">全部</a>
					<volist	name="brand" id="vo">
						<a href="{:U('Equipment/index',array('brand_id'=>$vo['id']))}">{$vo.brand}</a>
					</volist>
					<a href="#">更多品牌</a>
				</div>
			</div>
		</div>


		<div class="m-b-md container">
			<a href="#" class="la_item m-r-sm active"><span class="glyphicon glyphicon-circle-arrow-down"></span> 默认</a>
			<a href="#" class="la_item m-r-sm"><span class="glyphicon glyphicon-circle-arrow-down"></span> 热度</a>
			<a href="#" class="la_item"><span class="glyphicon glyphicon-circle-arrow-down"></span> 评分</a>


			<a href="#" class="m-l-md la_item active">Decathlon(迪卡侬) ×<!-- <span class="glyphicon glyphicon-remove"></span> --></a>
		</div>
	</div>

	<div class="container bg-gray-fa p-t-md p-b-md">
		<div class="equipment_container">
			<ul class="equipment_list">
				<volist name="equipment" id="vo">
				<li class="equipment_item">
					<div class="img_con">
						<a href="{:U('Equipment/detail',array('id'=>$vo['id']))}"><img src="{:C(__DATA__)}/{$vo['image']}"></a>
					</div>
					<div class="equipment_info p-sm text-center">
						<div class="m-t-sm font-bold eq_pp to2"><a class="tc-black" href="{:U('Equipment/detail',array('id'=>$vo['id']))}">{$vo.brandname}</a></div>
						<div class="d_text to1 m-t-sm font-12 over-h"><a class="tc-gray9" href="{:U('Equipment/detail',array('id'=>$vo['id']))}">{$vo.name}</a></div>
						<div class="m-t-sm text-center m-b-sm">
							{:W('Scenic/score',array('score'=>$vo['grade']))}
						</div>
						<div class="dp_btn"><a href="#" class="btn-blue btn-sm">点评</a></div>
						<div class="m-t-sm tc-gray9 font-12"><span class="keyword">{$vo.gradenum}</span> 个人点评</div>
					</div>
				</li>
				</volist>
			</ul>

			<nav class="over-h">
					  <ul class="pagination pagination-sm pull-right">
						{$page}
					  </ul>
					</nav>


		</div>
	</div>
	<include file="Common/footer" />
</body>
<include file="common/footerJS" />
<script type="text/javascript">
	$(function(){
		$(".equipment_item").hover(function(){
			var _self = $(this);
			_self.find('.equipment_info').stop().animate({marginTop: '-50px'},'fast');
			_self.find('.d_text').stop().animate({height:0},'fast');
			_self.find(".dp_btn").stop().animate({marginTop: '10px'},'fast');
		},function(){
			var _self = $(this);
			_self.find('.equipment_info').stop().animate({marginTop: 0},'fast');
			_self.find('.d_text').stop().animate({height:'16px'},'fast');
			_self.find(".dp_btn").stop().animate({marginTop: '30px'},'fast');
		})
	})
</script>
</html>