<!DOCTYPE html>
<html>
<head>
	<include file="common/headerCSS" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/equipment.css">
	<title>西瓜游-装备用品</title>
</head>
<body>

	<include file="Common/navbar" />
	<div class="p-t-sm border-gray-b-e p-b-sm bg-gray-fa">
		<div class="container">
			<div class="font-20">
				装备用品
			</div>
			<div class="m-t-xs">
				<a href="#">首页</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<span class>装备用品</span>
			</div>
		</div>
	</div>



	
	<include file="Common/footer" />
	


</body>
<include file="common/footerJS" />
</html>