<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/account.css">
	<link rel="stylesheet" href="__PUBLIC__/css/travel.css">
    <title>西瓜游-装备品牌</title>
</head>

<body>
    <include file="Common/navbar" />
		
		
				<div class="p-t-sm border-gray-b-e p-b-sm ">
					<div class="container">

					
						<div class="font-20">
							装备用品
						</div>
						<div class="m-t-xs">
							<a href="#">首页</a>
							<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
							<a href="#">装备用品</a>
							<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
							<span>选择品牌</span>
						</div>



					</div>
				</div>
				

				<div id="select_city" class="container p-t-md p-b-md border-gray-b-e" >
					<h3 class="m-b-lg">按拼音首字母</h3>
					<for start="1" end="6">
					<div class="border-gray-b-e m-b-md p-b-md">
						<div class="font-16 tc-black">A</div>
						<div class="m-t-sm">
							<a href="#" class="la_item">尼泊尔</a>
							<a href="#" class="la_item">成都</a>
							<a href="#" class="la_item">桂林</a>
							<a href="#" class="la_item">玉林</a>
							<a href="#" class="la_item">三江</a>
							<a href="#" class="la_item">澳门</a>
							<a href="#" class="la_item">台北</a>
							<a href="#" class="la_item">高雄市</a>
							<a href="#" class="la_item">北京</a>
							<a href="#" class="la_item">上海</a>
						</div>
					</div>
					</for>

				</div>
				

		

    <include file="Common/footer" />


</body>
<include file="Common/footerJS" />

</html>