.more_btn{
	display: block;
	width: 100%;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 20px;
}
.more_btn:hover,.more_btn:focus{
	color: #fff;
}
.rest_container{
	padding-left: 700px;
}
.entry{
	height: 80px;
}
.rest_container a span:nth-child(1){
	font-size: 20px;
}

.rest_container a{
	width: 64px;
}