.msg_edit{
	width: 688px;
	padding-left: 92px;
	margin-bottom: 20px;
}
.talk_edit_face{
	position: relative;
	float: left;
	margin-left: -92px;
}
.arrow{
	position: absolute;
	top:34px;
	left:-9px;
	overflow: hidden;
	border:9px solid transparent;
	border-right-color: #d7d7d7;
	border-left-width: 0;
}
.arrow2{
	position: absolute;
	top:35px;
	left:-8px;
	overflow: hidden;
	border:8px solid transparent;
	border-right-color: #f5f5f5;
	border-left-width: 0;
}
.talk_edit{
	position: relative;
	padding: 9px;
	background:#f5f5f5;
	border:1px solid #d7d7d7;
	box-shadow:0 0 3px rgba(0,0,0,.12);
}
.msgboard_textarea{
	width: 552px;
	min-height: 72px;
	padding: 3px 7px;
	border:1px solid silver;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
	resize:none;
}
textarea:focus {  
    outline: none;  
    box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);  
    border-radius: 5px;  
}  
.msgboard_focus{
	z-index: 0;
	border-color: #63d282;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.05) insert;
}
.btm{
	padding-top: 10px;
	position: relative;
	zoom:1;
}
.fr{
	padding-right:24px;
}
.button_liuyan{
	display: inline-block;
	height: 28px;
	padding:0 15px;
	border:none;
	border-radius: 3px;
	overflow: visible;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background-color: #63d282;
}
.words{
	color: #959595;
	line-height: 14px;
}
.messages{
	padding-left: 92px;
	margin-bottom: 20px;
}
.msg_user{
	padding-left: 20px;
}
.name{
	font-size: 15px;
	font-weight: bolder;
}
.msgtable{
	text-align: left;
}
.msgtable tr td{
	padding-bottom:10px;
}
.msgnav{
	padding-left: 120px;
}