/*冗余CSS*/
.media-picture{
	width: 350px;
}
.media-picture li{
	width:100px;
	height: 100px;
	float: left;
	margin:0 3px 3px 0;
}
.pic_thumb{
	width: 100%;
	height: 100%;
}
.fr-emoticon.fr-emoticon-img {
    display: inline-block;
    width: 20px;
    height: 20px;
}



/**/
.media-img{
	width: 30px;
	height: 30px;
	border-radius: 2px;
	border-radius: 50%;
}


.u_icon_{
	float: left;
	margin-right: 20px;
	width: 70px;
	height: 70px;
	box-shadow: 0 0 5px #666;
}

.nickname{
    font-size: 24px;
    color: #444;
    line-height: 40px;
}

.menu{
    border: 1px solid #eee;
    border-top: 0px;
    overflow: hidden;
}
.menu li{
	float: left;
	border-right: 1px solid #dde0df;
}
.menu li.last{
	float: right;
	border-left: 1px solid #dde0df;
	border-right: 0;
}
.menu li a{
	display: block;
	padding: 10px 20px;
	font-size: 15px;
	color: #333;
}
.menu li.active a{
	color: #63D283;
}
.menu li a:hover{
	background-color: #f9f9f9;
}


/*侧栏*/
.city_list{
	margin-top: 12px;
}
.city_list li{
	margin-bottom: 10px;
}
.city_list li img{
	display: inline-block;
	width: 50px;
	height: 40px;
	margin-right: 15px;
}
.city_list li  a{
	color: #222;
}
.img_list{
	overflow: hidden;
	margin-top: 18px;
}

.img_list li{
	float: left;
	margin:0 8px 8px 0;
}
.img_list li img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
}



/*收藏*/

.list li{
	margin-bottom: 15px ;
	position: relative;
}
.list li:last-child{
	margin-bottom: 0;
}
.list li a{
	color: #222;
}
.list li .op-close{
	position: absolute;
	right: -5px;
	top: 3px;
	font-size: 10px;
	display: none;
	width: 15px;
	height: 15px;
	line-height: 16px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background-color: #F98260;
}
.list li:hover .op-close{
	display: block;
}
.list .time{
	margin:3px 13px 0 0;
}


/*资料编辑*/
.user_icon{
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
}
.user_icon input{
	display: none;
}
.icon{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
    padding: 1px;
}
.icon_btn{
	text-align: center;
	line-height: 50px;
	color: #fff;
	display: block;
	z-index: 5;
	background: rgba(0,0,0,.5);
	opacity: 0;
	border-radius: 100%;
}
.icon_btn:hover{
	color: #fff;
	opacity: 1;
}

.control-label{
	font-weight: 400;
	padding-top: 9px!important;
	color: #666;
}


/*侧栏菜单*/
.sidelist-group{
	margin-bottom: 10px;
}
.progress {
	border-radius: 0;
    -webkit-box-shadow: none;
	box-shadow: none;
}
.sidelist-group li{
	border-left:2px solid transparent;
	padding-left: 25px;
	border-bottom: 1px solid #eee;
}
.sidelist-group li.active{
	border-left-color: #63D283;
	
}
.sidelist-group li.active a{
	color: #63D283;
}
.sidelist-group li a{
	display: block;
	padding: 10px 0;
}



/*粉丝-关注*/
.fans-icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 3px;
}
.fans-item{
	border-bottom: 1px solid #f1f1f1;
}
/*想去-去过*/

.w_item{
	margin-bottom: 20px;
}
.w_img{
	float: left;
	margin-right:15px;
	width: 80px;
	height: 58px;
}
.keyword{
	color: #ff7247;
}


.content{
	padding:10px 25px 10px 10px;
	overflow: hidden;
}

.content-img{
	float: left;
}
.content-img img{
	width: 80px;
	height: 80px;
}