.count{
	font-size: 20px;
}
.fr{
	padding-top: 30px;
}
.tnav{
	height: 100px;
}
.one_travel_box{
	border:1px solid #e8e8e8;
}
.one_travel_box img{
	float: left;
}
.one_travel_box span,p{
	padding-left: 20px;
	padding-top: 50px;
	padding-right: 20px;
}
.travel_content{
	padding-top: 40px;
	padding-left: 300px;
}
.iconpst{
	height: 70px;
	padding-right: 10px;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: right;
}