body{background-color: #fff;}
.clearfix{zoom: 1;}

/*搜索部分*/
.search-big li{padding: 5px;float: left;}
.search-big li a{font-weight: bold;}

.breadnav{padding: 0;width: 100%;height: 30px;}
.search-big .search-box{width: 100%;}
.search-big .search-box h3{float:left;font-weight: bold;}
.search-box .search-img{left: -16px;top: 25px;color: #ccc;font-size: 18px;}
.search-box input{padding:8px 15px;width: 230px;}

/*快捷查看部分*/
.chosing-bigger{width: 100%;height:280px;border-top: 1px solid #ccc;}
.chosing{width:100%;height:33px;background-color: #fff;margin-top: 30px;}
.chosing dt{line-height: 33px;float: left;}
.chosing_list{line-height: 33px;float: left;margin-left: -20px;}
.chosing_list li{float: left;display: inline-block;}
.chosing_list li a{color: #111;font-size: 9px;text-decoration: none;padding: 0 10px;}

/*三个小按钮*/
.three-btns button{width:7%;margin-right:10px;font-size: 14px;font-weight: bold;}
/*后面两个btn呈现浅灰色*/
.btn-style{background-color:#e9e8e5;color: white;}


/*装备用品详情页的相关css*/
.detail-list{background: #f5f5f5;}
.detail-list .container .left-area{background: #fff;border: 1px solid #ccc;margin: 40px 0;}
.detail-list .container .right-area{padding-top:20px;}
.detail-list .container .another-one{border: none;}
.left-area .left-content{height:360px;border-bottom: 1px solid #ccc;padding: 30px 0;}
.left-area .left-content-two{height: 500px;}
.left-area .left-dianping{height: 1140px;}
.left-area .left-content,.left-area .left-content-two ,.left-area .left-dianping{width: 90%;margin: 0 auto;}
.left-content h4{font-weight: bold;}
.left-content .img-link{width:40%;padding-top: 40px;float: left;}
.left-content .img-link img{width: 250px;height: 200px;}
.left-content .img-descrip{width:260px;float: left;margin-top:40px;margin-left:50px;}
.img-descrip p,.img-descrip button{margin-left: 20%;}
.img-descrip p{color:#63D283;font-size: 17px;font-weight: bold; }
.img-descrip .different1{color: #e0e0e0;}
.img-descrip .distance p{float:left;color: #272822;font-size: 15px;margin:8px;cursor: pointer;}
.img-descrip .distance p span.glyphicon:hover{color: blue;}


/*单反描述字体设置*/
.left-content-two{padding-top: 30px;}

/*左侧的点评栏*/
.left-area .left-dianping h3{padding-bottom:20px;border-bottom: 1px solid #ccc;}
.left-area .left-dianping li{text-align:center;float: left;width: 16%;color: #111;}
.left-dianping .dianping-classify{padding-left:0;}
.left-dianping .dianping-classify li{padding: 5px 1px;cursor: pointer;}
.left-dianping .dianping-classify .active{border: 1px solid #63D283;border-radius: 3px;
padding: 5px 1px;color: white;background: #63D283;cursor: pointer;}

.left-dianping .dianping-person{margin-top: 30px;border-bottom: 1px solid #ccc;}
.dianping-content{float: left;}
.media img{width: 60px;height: 60px;}
.detail-cont .detail-words{margin-left: 20px;line-height: 35px;}

/*右侧列表部分*/
.right-area h3{font-weight: bolder;}
.right-area .another-equipment{height: 100px;}
.right-area .another-equipment a{float: left;}
.right-area .another-content{float: left;padding: 0 15px;}
.right-area .another-content .font-bold{font-size: 14px;font-weight: bold;}
.another-content .distance p{float: left;padding: 5px 6px;}
.another-content .distance span{padding:1px;}
.another-content .distance span.glyphicon:hover{color:blue;}