footer{
    min-width: 1010px;
	background-color: #323232;
	color: #fff;
	border-top: 2px solid #63D283;
}

footer a{
	border-left: solid 2px #636363;
    padding-left: 10px;
    font-size: 12px;
    line-height: 24px;
    margin-right: 8px;
    color: silver;
    font-size: 14px;
    font-weight: 700;
}
footer span{
	font-size: 9pt;
    color: #636363;
    margin: 20px 0;
}