.index-header{position: relative;min-width:980px;max-width: 2000px;margin: 0 auto;}
.index-header .header-img-container{width: 100%;height: auto;}
.index-header .header-img-container .header-img{width: 100%;height: 100%;}
.index-header .search-container{
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -250px;
	margin-top: -120px;
	width: 500px;
}
.index-hello{text-align: center;color: #fff;font-weight: 600;font-size: 40px;}
.panel-inner{
	margin-top: 20px;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	border-radius: 4px;
	position: absolute;
}
.search-form{
	overflow: hidden;
}
.search-input{
	float: left!important;
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
    width: 385px;
    height: 38px;
    line-height: 38px\9;
    border: 1px solid transparent;
    border-right: 0;
    color: #323232;
    font-size: 18px;
}
.search-btn{
	float: left!important;
    border-radius: 0 3px 3px 0;
    border: 0;
    width: 90px;
    height:38px;
    line-height: 38px;
    text-align: center;
    text-decoration: none!important;
    font-size: 18px;
    font-family: Hiragino Sans GB,Microsoft YaHei,SimHei,SimSun,sans-serif;
    color: #fff;
    font-weight: 700;
    background: #2dd382;
    background: -webkit-linear-gradient(315deg,#2ed685,#10a251);
    background: linear-gradient(135deg,#2ed685,#10a251);
    cursor: pointer;
}
.search-hot{
	position: absolute;
	top: 52px;
	left: 10px;
	z-index: 200;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
  	width: 385px;
  	padding: 10px;
  	-webkit-transform:scale(0); 
	-moz-transform:scale(0); 
	-o-transform:scale(0); 
	transform:scale(0); 
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.search-hot.active{
	-webkit-transform:scale(1); 
	-moz-transform:scale(1); 
	-o-transform:scale(1); 
	transform:scale(1); 
}
.hot-title{
	margin-bottom: 10px;
	font-size: 16px;
	padding-left: 10px;
}
.hot-container a{
	font-size: 13px;
	color: #636363;
	line-height: 24px;
	display: inline-block;
	border-radius: 2px;
	padding: 0 10px;
    margin-bottom: 5px;
}
.hot-container a:hover{
	background-color: #e3fae1;
}
.index-scenic-container{}
.index-scenic-list{overflow: hidden;margin-right: -20px;}
.index-scenic-list li{
	width: 230px;
    float: left;
    margin: 0 20px 20px 0;
    background-color: #fff;
    border: 1px solid #eee;
}
.scenic-img{
	width: 100%;
	height: 150px;
}
.scenic-title{
	padding:15px 10px;
	font-weight: 600;
	font-size: 16px;
}
.scenic-title a{
	color: #333!important;
}
.bottom-text{
	padding: 0 0 10px 10px;
	color: #636363;
	font-size: 15px;
    display: inline-block;
    max-width: 55%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bottom-right{
	float: right;
	font-size: 12px;
	margin-right: 10px;
}
.keyword{
	color: #ff7466;
	font-size: 14px;
}

.infomation-title{
	margin-bottom: 21px;
}
.infomation-img{
	width: 160px;
	height: 100px;
}
.topic-item,
.infomation-item{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #eee;
	overflow: hidden;
}
.topic-type{
	padding: 2px 5px;
    background-color: #eee;
    border-radius: 2px;
    color: #666;
}

.sideList{
	margin-top: 15px;
}

.sideList li{
	overflow: hidden;
	margin-bottom: 10px;
}

.sideList .side_img{
	width: 62px;
	height: 62px;
	float: left;
	margin-right: 10px;
	border:1px solid #eee;
}
.side_info a{
	color: #585858;
	font-size: 12px;
}
.side_info a:hover{
	color: #429259;
}
.btn-blue{
	padding: 12px 85px;
    background-color: #63D283;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    border-radius: 3px;
    display: inline-block;
    border: 0 none;
}
.btn-blue:focus,
.btn-blue:hover{
	background-color: #46965D;
	color: #fff;
}

.search-input.hover{
	border:1px solid #A6C8FF;
}
.search-page{
	margin: 50px 0 30px 130px; 
}
.search-menu{
	text-align: center;
	margin: 20px auto 15px auto;
	border-bottom:1px solid #ddd;
	padding-bottom: 15px;
}
.search-menu a{
	font-size: 16px;
	padding: 8px 10px;
	margin: 0 10px;
	color: #999;
}
.search-menu a:hover,
.search-menu a.active{
	font-weight: 700;
	color: #222;
}
.search-item,
.search-scenic{
	margin-bottom: 10px;
	padding-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px dashed #eee;
}
.search-img{
	width: 200px;
	height: 135px;
	float: left;
	margin-right: 15px;
}
.line-22{
	line-height: 22px;
}
.search-eq-img{
	width: 62px;
	height: 62px;
	float: right;
	margin-right: 10px;
	border:1px solid #eee;
}