<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/travel.css">
    <title>西瓜游-游记</title>
</head>

<body>
    <include file="Common/navbar" />
		
		
	<div class="p-t-sm border-gray-b-e p-b-sm bg-gray-fa">
		<div class="container">

			
			<div class="font-20">
				游记攻略
			</div>
			<div class="m-t-xs">
				<a href="{:U('Index/index')}">首页</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<a href="{:U('TravelNote/index')}">游记攻略</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<span>游记详情</span>
			</div>

		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<h3>{$travelnote.title}</h3>
				<div class="m-t-md">
					<span class="time tc-gray7">{$travelnote.time}</span>
					<a href="" class="author m-l-md">{$travelnote.user.nickname}</a>
					<span class="browse m-l-md tc-gray7">{$travelnote.browse}次浏览</span>
					<!-- <span class="m-l-md tc-gray9 iconfont icon-dianzan"></span> -->
					<!-- <span class="zan tc-gray9">点赞：??</span> -->
				</div>
				<div class="m-t-md m-b-md travel_note_content">
					{$travelnote.content}
				</div>

		<!-- 			<div class="text-center">
						<span class="icon-dianzan1 iconfont icon s-zan" data-type='3'></span>
						<span class="t">点赞</span>
					</div> -->
					<div class="c_area">
		            	<h4 class="b_main"><span class="b_border">发表评论</span></h4>
		            	<textarea class="form-control m-t-lg" id="saytext" name="saytext" placeholder="客官，8个字起评，不讲价哟" rows="5" style="resize: none; overflow-y: hidden;"></textarea>
						<a href="javascript:void(0)" data-loading-text="发表中..." id="addComment" data-type="3" class="m-t-md btn bg-main btn-md">发表评论</a>
						<div class="reply-container" style="position: relative;display: inline-block;vertical-align: middle;">
							
						</div>

						<span style="position: relative;display: inline-block;vertical-align: middle;" class="m-l-sm m-t-md tc-gray9 tag hidden">请回复一些有意义的信息，不健康的内容将很快被删除。</span>
		            </div>

					<div class="c_container m-t-lg">
	            	<if condition = "count($CommentList) neq 0">
		            	<h4 class="m-b-lg b_main"><span class="b_border">评论列表</span></h4>
		            	<!-- 评论列表 -->
		            	<div id="list_container">
		            	<volist name="CommentList" id="vo">
							<div class="media">
							  <div class="media-left">
							    <a href="{$vo.sender_url}">
							      <img class="media-object c_u_icon" src="{$vo.sender_icon|default="__PUBLIC__/img/udefault.png"}" >
							    </a>
							  </div>
							  <div class="media-body b_main">
							    <h5 class="media-heading">
							    	<a class="nickname_text" href="{$vo.sender_url}">{$vo.sender_nickname}</a> <if condition="$vo['receiver_id'] neq ''">回复了 <a href="{$vo.receiver_url}">{$vo.receiver_nickname}</a></if> <span class="pull-right tc-gray9 font-12">{$vo.time}</span>
							    </h5>
							    <p class="m-t-xs c-content">
							    {$vo.content}
								</p>
								<if condition="session('login') neq $vo['sender_id']">
									<a class="reply-btn" href="javascript:void(0)" data-reply="{$vo.sender_id}"><span class="iconfont icon-pinglun"> </span> 回复</a>
								</if>
							  </div>
							</div>
						</volist>
						</div>
						<if condition="$comment_count gt 4">
						<a id="comment_loading" data-type='3' href="javascript:void(0)" class="btn-block p-md text-center m-t-sm bg-main m-b-md">加载更多</a>
						<else/>
						<a href="javascript:void(0)" class="btn-block p-md text-center m-t-sm bg-main m-b-md">暂无更多评论</a>
						</if>
						<!-- /评论列表 -->
						<else />
						<h4 class="m-b-lg b_main"><span class="b_border">评论列表</span></h4>
						<div class="tc-gray9 text-center" style="height:200px;line-height:200px; background-color:#fcfcfc;">暂无评论</div>
					</if>
	            </div>

					

					
				</div>
			<div class="col-xs-4 m-t-md">
				<div id="side-list" class="">
					<div class="font-18 p-b-sm border-gray-b-e m-b-sm">相关游记</div>
					<!-- <include file="TravelNoteContent/relevantTravelNote" /> -->
					{:W('TravelNote/relevant',array($travelnote['id']))}
					<hr>



					<div class="operate">
						分享：
	                    <!-- JiaThis Button BEGIN -->
	                    <a class="jiathis_button_weixin share-btn btn-success" title="分享到微信">
	                    	<i class="iconfont icon-weixin"></i>
	                    </a> 
	                    <a class="jiathis_button_cqq share-btn bg-qq" title="分享到QQ好友">
	                    	<i class="iconfont icon-qq"></i>
	                    </a> 
	                    <a class="jiathis_button_qzone share-btn bg-qq" title="分享到QQ空间">
	                    	<i class="iconfont icon-kongjian"></i>
	                    </a> 
	                    <a class="jiathis_button_tsina share-btn bg-weibo" title="分享到新浪微博">
	                    	<i class="iconfont icon-iconfontweibo"></i>
	                    </a>
	                </div>
				</div>


			</div>

		</div>
		

	</div>

			
		

    <include file="Common/footer" />


</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.toaster.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sidefixed.js"></script>
<script type="text/javascript">
	$("#city_btn").click(function(event) {
		$(this).toggleClass('active');
		$("#select_city").stop().slideToggle('fast');
	});
</script>
<script type="text/javascript">
	var addComment_url = "{:U('Comment/addComment')}";
	var id  = {$id};
	var loading_url = "{:U('Comment/loading')}";
	var PUBLIC = "__PUBLIC__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/infomation.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>

</html>