<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/travel.css">
    <title>西瓜游-游记</title>
</head>

<body>
    <include file="Common/navbar" />
		
		
	<div class="p-t-sm border-gray-b-e p-b-sm bg-gray-fa">
		<div class="container">

			
			<div class="font-20">
				游记攻略
			</div>
			<div class="m-t-xs">
				<a href="#">首页</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<a href="">游记攻略</a>
				<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
				<span>成都</span>
			</div>

		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<h3>俄罗斯之旅</h3>
				<div class="m-t-md">
					<span class="time tc-gray7">2016-8-5</span>
					<a href="" class="author m-l-md">作者昵称</a>
					<span class="browse m-l-md tc-gray7">256次浏览</span>
					<span class="m-l-md tc-gray9 iconfont icon-dianzan"></span>
					<span class="zan tc-gray9">点赞：526</span>
				</div>
				<div class="m-t-md m-b-md travel_note_content">


					<p align="left">  骑行桂林，是我早就有的念头，这念头在我心里藏了两年多。</p><p align="left">  2009年初我开始介入户外登山运动，因工作因时间，我们只能双休在家登登山。</p><p align="left">  还好家乡地处都庞岭山麓下，全县海拔1500米以上的山峰有数十座，周边县也有很多高山，山，资源丰富，有的是登。只是缺时间，每个月只有4个双休日，如遇下雨，登山的日子就更少，有时，我们还不得不冒雨进山。</p><p align="left">  登山需要相当好的体力，对此，我买了一台捷安特ATX680，计划：双休时登山，周一至周五便骑行，练体力，为登山。这一做法，在QQ群里迅速被推广，于是大家都买了山地车。</p><p align="left">  虽在户外运动爱好中，我是登山放第一，骑行排第二。但我还是十分重视骑行运动的。</p><p align="left">  两年来，除了登山就是骑行，我骑行过周边县道县、江华、富川，三次骑行阳朔。</p><p align="left">  我喜欢骑行路上的风景，更喜欢在一条陌生的路线上骑行，于是骑行过湘桂（县或）边境，骑行过月岩风景名胜区，当日的骑行都在100公里以上。</p><p align="left">  骑得最远的，也只是到过阳朔。</p><p align="left">  两年来，经常有人问我，“桂林，你骑过吗？”，到桂林，也不远，来回也只400多公里，但，我的确没骑过。虽然，阳朔骑过3次，离是桂林也只有60多公里。</p><p align="left">  “桂林山水甲天下”，桂林，天下皆知。是该用自行车轮丈量下，你们不问，我也有此念头，只是时间未到！</p><p align="left">  值到今年的9月16日才圆了这个梦——骑行桂林的梦。</p><p align="left">  可这个梦，我想起阳朔至桂林路段的车辆无休止的来来往往，这梦，就再也不想重复了。</p><p align="left">  这那是低碳骑行，这是在体验汽车尾气之苦！</p><p align="left">  骑行桂林，只这一次，无论路上风景如何。</p>   9月中旬的这个双休，据天气预报称“未来几天无暴雨、无大雨、无中雨、也无小雨、更无毛毛细雨，是个户外的好天气！”。<br>
					这样的天气，户外，我们多是首选登山去的，可这个双休，几位兄弟般的驴友因事不能一起山顶看日落日出，只有坚持“无兄弟，不登山”的原则，便取消登山活动。<br>
					  天赐的好日子，不能浪费，那就骑行吧，骑长线！<br>
					  不登山，便骑行！这已成一种制度，或者是习惯。<br>
					  于是，“永明山水”的4铁驴（不是铁骑）外加一新骑友，站在了出发的起跑线。<br>
					  考虑是长线，考虑有的是首骑长线，便计划星期五下午出发，星期日返回，时间两天半。休闲中的骑行，骑行中的休闲。<br>
					  先上出发前的合影<br>
					  从左到右：阿福、21、游者、花山、亮剑。<br>
					<img src="http://image1.8264.com/forum/201110/30/1717236o8uu9o619qqhrro.jpg!t1w1500h1500" class="lazy preview" data-original="http://image1.8264.com/forum/201110/30/1717236o8uu9o619qqhrro.jpg!t1w1500h1500" style="display: block;">9月中旬，虽已进入仲秋，但太阳仍然炎热。<br>
					对此，我们选择下午3时出发。<img src="http://image1.8264.com/forum/201110/30/174500kuhl11c1f81qkqq1.jpg!t1w1500h1500" class="lazy preview" data-original="http://image1.8264.com/forum/201110/30/174500kuhl11c1f81qkqq1.jpg!t1w1500h1500" style="display: block;">  <br>
					我们计划16日骑行到阳朔，中途骑到广西恭城瑶族县城晚餐。<br>
					我们是这样计划的，也是这样做的。<br>
					图：到达桃川镇<br>
					<img src="http://image1.8264.com/forum/201110/30/175309uou8suzo0ut8e81u.jpg!t1w1500h1500" class="lazy preview" data-original="http://image1.8264.com/forum/201110/30/175309uou8suzo0ut8e81u.jpg!t1w1500h1500" style="display: block;">  <br>
					   具体骑行路线（去）：江永县城——（6公里）允山镇——（15公里）夏层铺——（15）桃川镇——（10）粗石江镇——（6公里）广西龙虎乡——（14）嘉会乡——（19）恭城瑶族县城（晚餐）——（22公里）沙子镇——（13）福利镇——（9）阳朔县（住）——（21）葡萄镇——（17）雁山区——（21公里）桂林市
					</div>

					<div class="text-center">
						<span class="icon-dianzan1 iconfont icon s-zan" data-type='3'></span>
						<span class="t">点赞</span>
					</div>
					<div class="c_area">
		            	<h4 class="b_main"><span class="b_border">发表评论</span></h4>
		            	<textarea class="form-control m-t-lg" id="saytext" name="saytext" placeholder="客官，8个字起评，不讲价哟" rows="5" style="resize: none; overflow-y: hidden;"></textarea>
						<a href="javascript:void(0)" data-loading-text="发表中..." id="addComment" data-type="3" class="m-t-md btn bg-main btn-md">发表评论</a>
						<div class="reply-container" style="position: relative;display: inline-block;vertical-align: middle;">
							
						</div>

						<span style="position: relative;display: inline-block;vertical-align: middle;" class="m-l-sm m-t-md tc-gray9 tag hidden">请回复一些有意义的信息，不健康的内容将很快被删除。</span>
		            </div>

					<div class="c_container m-t-lg">
	            	<if condition = "count($CommentList) neq 0">
		            	<h4 class="m-b-lg b_main"><span class="b_border">评论列表</span></h4>
		            	<!-- 评论列表 -->
		            	<div id="list_container">
		            	<volist name="CommentList" id="vo">
							<div class="media">
							  <div class="media-left">
							    <a href="{$vo.sender_url}">
							      <img class="media-object c_u_icon" src="{$vo.sender_icon|default="__PUBLIC__/img/udefault.png"}" >
							    </a>
							  </div>
							  <div class="media-body b_main">
							    <h5 class="media-heading">
							    	<a class="nickname_text" href="{$vo.sender_url}">{$vo.sender_nickname}</a> <if condition="$vo['receiver_id'] neq ''">回复了 <a href="{$vo.receiver_url}">{$vo.receiver_nickname}</a></if> <span class="pull-right tc-gray9 font-12">{$vo.time}</span>
							    </h5>
							    <p class="m-t-xs c-content">
							    {$vo.content}
								</p>
								<if condition="session('login') neq $vo['sender_id']">
									<a class="reply-btn" href="javascript:void(0)" data-reply="{$vo.sender_id}"><span class="iconfont icon-pinglun"> </span> 回复</a>
								</if>
							  </div>
							</div>
						</volist>
						</div>
						<if condition="$comment_count gt 4">
						<a id="comment_loading" data-type='3' href="javascript:void(0)" class="btn-block p-md text-center m-t-sm bg-main m-b-md">加载更多</a>
						<else/>
						<a href="javascript:void(0)" class="btn-block p-md text-center m-t-sm bg-main m-b-md">暂无更多评论</a>
						</if>
						<!-- /评论列表 -->
						<else />
						<h4 class="m-b-lg b_main"><span class="b_border">评论列表</span></h4>
						<div class="tc-gray9 text-center" style="height:200px;line-height:200px; background-color:#fcfcfc;">暂无评论</div>
					</if>
	            </div>

					

					
				</div>
			<div class="col-xs-4 m-t-md">
				<div id="side-list" class="">
					<div class="font-18 p-b-sm border-gray-b-e m-b-sm">相关游记</div>
					<include file="TravelNoteContent/relevantTravelNote" />
					<hr>



					<div class="operate">
						分享：
	                    <!-- JiaThis Button BEGIN -->
	                    <a class="jiathis_button_weixin share-btn btn-success" title="分享到微信">
	                    	<i class="iconfont icon-weixin"></i>
	                    </a> 
	                    <a class="jiathis_button_cqq share-btn bg-qq" title="分享到QQ好友">
	                    	<i class="iconfont icon-qq"></i>
	                    </a> 
	                    <a class="jiathis_button_qzone share-btn bg-qq" title="分享到QQ空间">
	                    	<i class="iconfont icon-kongjian"></i>
	                    </a> 
	                    <a class="jiathis_button_tsina share-btn bg-weibo" title="分享到新浪微博">
	                    	<i class="iconfont icon-iconfontweibo"></i>
	                    </a>
	                </div>
				</div>


			</div>

		</div>
		

	</div>

			
		

    <include file="Common/footer" />


</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.toaster.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sidefixed.js"></script>
<script type="text/javascript">
	$("#city_btn").click(function(event) {
		$(this).toggleClass('active');
		$("#select_city").stop().slideToggle('fast');
	});
</script>
<script type="text/javascript">
	var addComment_url = "{:U('Comment/addComment')}";
	var id  = {$id};
	var loading_url = "{:U('Comment/loading')}";
	var PUBLIC = "__PUBLIC__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/infomation.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>

</html>