<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/account.css">
	<link rel="stylesheet" href="__PUBLIC__/css/travel.css">
    <title>西瓜游-游记</title>
</head>

<body>
    <include file="Common/navbar" />
		
		
				<div class="p-t-sm border-gray-b-e p-b-sm ">
					<div class="container">
						
						<a href="javascript:void(0)" class="city_btn transition-all-03" id="city_btn"><span class="glyphicon glyphicon-chevron-down"></span></a>
						<span class="city_btn_label">城市：{$citynow}</span>
						<a href="{:U('TravelNote/publish')}" class="pull-right btn-main btn-sm m-r-sm m-t-sm">发布游记</a>
						<div class="font-20">
							游记攻略
						</div>
						<div class="m-t-xs">
							<a href="{:u('Index/index')}">首页</a>
							<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
							<span class>游记攻略</span>
						</div>



					</div>
				</div>
				

				<div id="select_city" class="container p-t-md p-b-md border-gray-b-e" style="display:none">
					<div class="font-20">选择城市</div>
					<div class="m-t-sm">
						<a href="{:U('TravelNote/index',array('citynow'=>0))}" class="la_item">全部</a> &nbsp;
						<volist name="city" id="vo">
							<a href="{:U('TravelNote/index',array('citynow'=>$vo['id']))}" class="la_item">{$vo.city}</a> &nbsp;
						</volist>

					</div>
				</div>
				
				<div class="m-t-md container">
					<volist name="travelnote" id="vo">
					<div class="media">
					    <div class="media-left">
					    	<a href="#"><img class="media-object media-img" src="{:C('__DATA__')}/login_thumb/{$vo['user']['icon']}" alt="..."></a>
						</div>
					  	<div class="media-body">
					    	<h4 class="media-heading"><a class="tc-black" href="{:U('TravelNote/detail',array('id'=>$vo['id']))}">{$vo.title}</a></h4>
						    <div class="info m-t-sm font-12">
						    	<a href="#" class="m-r-sm">{$vo.user.nickname}</a>
						    	<span class="m-r-sm">{$vo.time}</span>
						    	<volist name="vo.space" id="_vo">
						    		<a href="{:U('TravelNote/index',array('citynow'=>$_vo['id']))}" class="m-r-sm la_item">{$_vo['city']}</a>
							    </volist>
						    </div>
						    <div class="m-t-sm travel_text">
								{$vo.content}
							</div>
							<div class="m-t-sm over-h img_container">
								<for start="0" end="10" name="n">
									<if condition="(bool)$vo['pic'][0][$n]">
							    	<a class="travel_pic" href="{:U('TravelNote/detail',array('id'=>$vo['id']))}">
							    		<img src="{$vo['pic'][0][$n]|default='__PUBLIC__/img/default.jpg'}">
							    	</a>
								    </if>
						    	</for>    
						    </div>


							<div class="m-t-sm font-12 border-gray-b-e p-b-md m-b-xs">
								<span class="keywords">{$vo.browse}</span>次浏览
								<!-- <span class="keywords m-l-md">{$vo.zan}</span>次点赞 -->
							</div>
						</div>
					</div>
					</volist>


					<nav class="over-h">
					  <ul class="pagination pagination-sm pull-right">
						{$page}
					  </ul>
					</nav>
				</div>

		

    <include file="Common/footer" />


</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.toaster.js"></script>
<script type="text/javascript">
	$("#city_btn").click(function(event) {
		$(this).toggleClass('active');
		$("#select_city").stop().slideToggle('fast');
	});
</script>
</html>