<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
	<link rel="stylesheet" href="__PUBLIC__/css/carousel.css">
	<link rel="stylesheet" href="__PUBLIC__/css/account.css">
	<link rel="stylesheet" href="__PUBLIC__/css/travel.css">
    <title>西瓜游-{$city_info.city}</title>
</head>

<body>
    <include file="Common/navbar" />
		
		<div class="row">
			<div class="col-xs-12">
				<div class="p-t-sm border-gray-b-e p-b-sm t-header">
					<div class="container">
						<div class="font-20">
							游记攻略
						</div>
						<div class="m-t-xs">
							<a href="#">首页</a>
							<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
							<span class>游记攻略</span>
						</div>
					</div>




				</div>
				sad
			</div>

		</div>

    <include file="Common/footer" />


</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.toaster.js"></script>

</html>