<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/account.css">
	<link rel="stylesheet" href="__PUBLIC__/css/travel.css">
    <title>西瓜游-游记</title>
</head>

<body>
    <include file="Common/navbar" />
		
		
				<div class="p-t-sm border-gray-b-e p-b-sm ">
					<div class="container">

						<a href="javascript:void(0)" class="city_btn transition-all-03" id="city_btn"><span class="glyphicon glyphicon-chevron-down"></span></a>
						<span class="city_btn_label">城市：</span>
						<div class="font-20">
							游记攻略
						</div>
						<div class="m-t-xs">
							<a href="#">首页</a>
							<span class="tc-gray9 font-12 m-r-xs m-l-xs">/</span>
							<span class>游记攻略</span>
						</div>



					</div>
				</div>
				

				<div id="select_city" class="container p-t-md p-b-md border-gray-b-e" style="display:none">
					<div class="font-20">选择城市</div>
					<div class="m-t-sm">
						<a href="#" class="la_item active">尼泊尔</a>
						<a href="#" class="la_item">成都</a>
						<a href="#" class="la_item">桂林</a>
						<a href="#" class="la_item">玉林</a>
						<a href="#" class="la_item">三江</a>
						<a href="#" class="la_item">澳门</a>
						<a href="#" class="la_item">台北</a>
						<a href="#" class="la_item">高雄市</a>
						<a href="#" class="la_item">北京</a>
						<a href="#" class="la_item">上海</a>
					</div>
				</div>
				
				<div class="m-t-md container">
					<for start="1" end="10">
					<div class="media">
					    <div class="media-left">
					    	<a href="#"><img class="media-object media-img" src="/watermelon/Public/img/f2.png" alt="..."></a>
						</div>
					  	<div class="media-body">
					    	<h4 class="media-heading"><a class="tc-black" href="#">CN户外献给雨崩——2011.6.7-12（首帖奉送星轨图；另有美图多多；全篇完）</a></h4>
						    <div class="info m-t-sm font-12">
						    	<a href="#" class="m-r-sm">这是用户名</a>
						    	<span class="m-r-sm">2016-12-16 15:17:40</span>
						    	<span class="m-r-sm la_item">垦丁</span>
						    </div>
						    <div class="m-t-sm travel_text">
								注：鉴于本文已被转载，烦请转载时注明作者和出处，谢谢；同时感谢转载人对拙文的厚爱
								其实"CN”应该早就丢了，丢在哪我自己都记不清了。。。因为喜欢爬山，所以上一个十年间甚至更早就已经体验过在山里徒步、负重、独行这几种元素。不过考虑到曾去的地方都比较大众化（虽然雨崩也早已日趋大众化），我还是把我的CN招魂，郑重地献给这方净土——雨崩
								先报个流水账，随后详解，有图又有真相，非常和谐~（本人在6L露背，13L露脸 ）
								Day -X至-2：应朋友邀请定好计划，匆忙准备行装，也来不及做功课了，就每天中午、晚上混迹上海某大型商场，在Columbia, TNF, 狼爪专柜里苦大仇深地翻看价目牌，最后做了回有钱人，装了回不算B的B，购入columbia三件商品、狼爪两件商品（此时还不知8264，要不打死我不买C家商品，因为哥脸皮薄不。。。。
							</div>
							<div class="m-t-sm over-h img_container">
						    	<a class="travel_pic" href="http://static.zaiwai.com/static/image/smiley/default/shy.gif">
						    		<img src="http://static.zaiwai.com/static/image/smiley/default/shy.gif">
						    	</a>
						    	<a class="travel_pic" href="http://static.zaiwai.com/static/image/smiley/default/lol.gif">
						    		<img src="http://static.zaiwai.com/static/image/smiley/default/lol.gif">
						    	</a>
						    	<a class="travel_pic" href="http://image1.8264.com/forum/201107/02/222240wf6wo8y8ydhdd79l.jpg!t1w1500h1500">
						    		<img src="http://image1.8264.com/forum/201107/02/222240wf6wo8y8ydhdd79l.jpg!t1w1500h1500">
						    	</a>
						    	<a class="travel_pic" href="http://image1.8264.com/forum/201107/02/2228266465jawwn9umpb5o.jpg!t1w1500h1500">
						    		<img src="http://image1.8264.com/forum/201107/02/2228266465jawwn9umpb5o.jpg!t1w1500h1500">
						    	</a>
						    	<a class="travel_pic" href="http://static.zaiwai.com/static/image/smiley/default/biggrin.gif">
						    		<img src="http://static.zaiwai.com/static/image/smiley/default/biggrin.gif">
						    	</a>		    
						    </div>


							<div class="m-t-sm font-12 border-gray-b-e p-b-md m-b-xs">
								<span class="keywords">125</span>次浏览
								<span class="keywords m-l-md">49</span>次点赞
							</div>
						</div>
					</div>
					</for>


					<nav class="over-h">
					  <ul class="pagination pagination-sm pull-right">
						
						<li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

		

    <include file="Common/footer" />


</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.toaster.js"></script>
<script type="text/javascript">
	$("#city_btn").click(function(event) {
		$(this).toggleClass('active');
		$("#select_city").stop().slideToggle('fast');
	});
</script>
</html>