<div class="over-h">
	<div class="side_t m-b-md">热点</div>
	<!-- 侧栏列表 -->
	<volist name="List" id="vo">
	<div class="m-t-sm b_b  over-h">
		<div class="i-side-img-container over-h m-b-sm"> 
			<a class="i-side-img" href="{:U('Infomation/detail',array('id'=>$vo['id']))}" style="background-image:url('{:C('__DATA__')}/{$vo.image_thumb|default="infomation/default.jpg"}')"></a>
		</div>
		<span class="l_t"><a href="{:U('Infomation/detail',array('id'=>$vo['id']))}">{$vo.title}</a></span>
	</div>
	</volist>
	<!-- /侧栏列表 -->
</div>