<div class="font-18 tc-black border-gray-b-e m-b-sm p-b-sm">
	{$equipment.name}的同类装备
</div>
<ul class="sideList m-b-sm">
	<volist name="sametype" id="vo">
	<li>
		<a href="#"><img class="side_img" src="{:C(__DATA__)}/{$vo['image']}"></a>
		<div class="side_info">
			<a href="{:U('Equipment/detail',array('id'=>$vo['id']))}" class="tc-black to2">{$vo.name}</a>
			<div class="m-t-xs tc-gray9 font-12">
				{:W('Scenic/score',array('score'=>$vo['grade']))}
				<span class="pull-right">
				<span class="glyphicon glyphicon-comment tc-grayd"></span> {$vo.gradenum}
				</span>

			</div>
		</div>
	</li>
	</volist>
</ul>

<div class="font-18 tc-black border-gray-b-e m-t-md m-b-sm p-b-sm">
	{$equipment.name}的同品牌装备
</div>
<ul class="sideList border-gray-b-e m-b-sm p-b-sm">
	<volist name="samebrand" id="vo">
	<li>
		<a href="#"><img class="side_img" src="{:C(__DATA__)}/{$vo['image']}"></a>
		<div class="side_info">
			<a href="{:U('Equipment/detail',array('id'=>$vo['id']))}" class="tc-black to2">{$vo.name}</a>
			<div class="m-t-xs tc-gray9 font-12">
				{:W('Scenic/score',array('score'=>$vo['grade']))}
				<span class="pull-right">
				<span class="glyphicon glyphicon-comment tc-grayd"></span> {$vo.gradenum}
				</span>

			</div>
		</div>
	</li>
	</volist>
</ul>


<div class="font-18 tc-black border-gray-b-e m-t-md m-b-sm p-b-sm">
	热门装备
</div>
<ul class="sideList border-gray-b-e m-b-sm p-b-sm">
	<volist name="hotequip" id="vo">
	<li>
		<a href="#"><img class="side_img" src="{:C(__DATA__)}/{$vo['image']}"></a>
		<div class="side_info">
			<a href="{:U('Equipment/detail',array('id'=>$vo['id']))}" class="tc-black to2">{$vo.name}</a>
			<div class="m-t-xs tc-gray9 font-12">
				{:W('Scenic/score',array('score'=>$vo['grade']))}
				<span class="pull-right">
				<span class="glyphicon glyphicon-comment tc-grayd"></span> {$vo.comment_count}
				</span>

			</div>
		</div>
	</li>
	</volist>
</ul>