
<ul class="sideList m-b-sm">
	<volist name="List" id ="vo">
	<li>
		<a href="{:U('/eq/'.$vo['id'])}"><img class="side_img" src="{:U('Image/ScenicImg',array('w'=>62,'h'=>62,'image'=>urlencode($vo['image']).'!feature'),false,false)}"></a>
		<div class="side_info">
			<a href="{:U('/eq/'.$vo['id'])}" class="tc-black to2">{$vo.name}</a>
			<div class="m-t-xs tc-gray9 font-12">
				{:W('Scenic/score',array('score'=>$vo['grade']))}
				<span class="pull-right">
				<span class="glyphicon glyphicon-comment tc-grayd"></span> {$vo.comment_count}
				</span>
			</div>
		</div>
	</li>
	</volist>
</ul>

