<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i1n66UyP2DFctjvKLRt68GKY"></script>
    

    <title>西瓜游</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="container" style="min-height:500px;">
    	<div id="allmap" style="height:500px;"></div>

    </div>
    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
		// 百度地图API功能
		var map = new BMap.Map("allmap");
		var point = new BMap.Point(116.331398,39.897445);
		map.centerAndZoom(point,12);
		// 创建地址解析器实例
		var myGeo = new BMap.Geocoder();
		// 将地址解析结果显示在地图上,并调整地图视野
		myGeo.getPoint("北京市海淀区上地10街", function(point){
			if (point) {
				map.centerAndZoom(point, 16);
				map.addOverlay(new BMap.Marker(point));
	          alert(point.lng+'   '+point.lat)
			}else{
				alert("您选择地址没有解析到结果!");
			}
		}, "北京市");
	</script>
</html>