<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i1n66UyP2DFctjvKLRt68GKY"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <title>西瓜游</title>
</head>

<body>

    <include file="Common:navbar" />

    <div class="index-header">
    	<div class="header-img-container"><img src="__PUBLIC__/img/index1.jpg" alt="..." class="header-img"></div>
    	<div class="search-container">
    		<h1 class='index-hello'>你好,中国！</h1>
    		<div class="panel-inner">
                <form class="search-form" target="_blank" action="{:U('Search/all')}" method="get">
                    <input class="search-input" type="text" name="key" placeholder="去哪儿？" autocomplete="off">
                    <button class="search-btn" type="submit">搜索</button>
                </form>
                <div class="search-hot">
                	<div class="hot-title">热门搜索</div>
                	<div class="hot-container">
                        <volist name="searchList" id="vo">
                    		<a href="{:U('Search/all',array('key'=>$vo['key']))}">{$vo.key}</a>
                        </volist>
                	</div>
	            </div>
    		</div>
    	</div>
    </div>

    <div class="container m-t-md">
    	<h3 class="text-center">你想去哪儿？</h3>
    	<div class="m-t-lg">
    		<include file="ScenicContent/hot" />
    	</div>

    	<div class="m-t-md">
    		<div class="row">
    			<div class="col-xs-8">
    				<div class="p-b-sm m-b-sm border-gray-b-e">
    					<a class="font-20 tc-black" href="{:U('Infomation/index')}">丨最新资讯</a>
    					<a href="{:U('Infomation/index')}" class="tc-black pull-right m-t-xs">>></a>
    				</div>
    				<div class="infomation-container">
    					<volist name="infomationList" id="vo">
        					<div class="infomation-item">
        						<a href="{:U('Infomation/detail',array('id'=>$vo['id']))}"><img class="infomation-img pull-right m-l-sm" src="{:U('Image/ScenicImg',array('w'=>160,'h'=>100,'image'=>urlencode($vo['image']).'!feature'),false,false)}"></a>
        						<div class="to">
    	    						<a class="tc-black" href="{:U('Infomation/detail',array('id'=>$vo['id']))}">{$vo.title}</a>
    	    					</div>
                                <div class="m-t-xs font-12 to2">
                                    {:str_sub($vo['content'],100)}
                                </div>
    	    					<div class="to1 tc-gray9 m-t-sm font-12">
    	    						<a class='tc-black' href="{:U('/u/'.$vo['contributor'])}"><span class="glyphicon glyphicon-user tc-gray8 font-12"></span> {$vo.user.nickname}</a> · <span class='tc-gray9 font-12'>{$vo.publish_time}</span>
    	    					</div>
        					</div>
	    				</volist>
	    				<div class="text-center m-t-md m-b-md">
	    					<a href="{:U('Infomation/index')}" class="btn-blue btn-block">查看更多</a>
	    				</div>
    				</div>

    			</div>
    			<div class="col-xs-4">
    				<div class="p-b-sm m-b-sm border-gray-b-e">
    					<a class="font-20 tc-black" href="{:U('Equipment/index')}">丨热评装备</a>
    					<a href="{:U('Equipment/index')}" class="tc-black pull-right m-t-xs">>></a>
    				</div>
    				<div class="equipment-container">
    					{:W("Equipment/hotComment",array('brand_id'=>0,'type_id'=>0,'limit'=>5))}
    				</div>
    				<div class="p-b-sm m-b-sm border-gray-b-e m-t-md">
    					<a class="font-20 tc-black" href="{:U('Topic/index')}">丨热门话题</a>
    					<a href="{:U('Topic/index')}" class="tc-black pull-right m-t-xs">>></a>
    				</div>
    				<div class="topic-container">
    					<volist name="topicList" id="vo">
    					<div class="topic-item">
    						<div class="m-b-xs to1">
    							<a href="{:U('/t/'.$vo['t_id'])}" class="tc-black">{$vo.t_title}</a>
    						</div>
    						<div class="topic-info font-12 to1">
						          <a  href="{:U('Topic/index',array('t'=>$vo['type_id']))}" class="tc-black">{$vo.type}</a>
						          ·
						          {$vo.discuss_count}个人在讨论
						          ·
						          {$vo.t_browse}次浏览
    						</div>
    					</div>
	    				</volist>
    				</div>
    			</div>

	    	</div>
    	</div>
    </div>
    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
$(function(){
	$(".search-input").focus(function(event) {
		$(".search-hot").addClass('active');
	}).bind('blur',search_hot_hide);
	$(".search-hot").mouseover(function(event) {
		$(".search-input").unbind('blur');
	}).mouseout(function(event) {
		$(".search-input").bind('blur',search_hot_hide);
	});
})
function search_hot_hide(){
	$(".search-hot").removeClass('active');
}

</script>
</html>
