<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i1n66UyP2DFctjvKLRt68GKY"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <title>西瓜游</title>
</head>

<body>
    
    <include file="Common/navbar" />
 
    <div class="index-header">
    	
    	<div class="container" style="width:780px;">
            <form class="search-form search-page" target="_blank" action="http://place.qyer.com/lac-leman-ch/" method="post">
                <input class="search-input hover" type="text" value="香格里拉">
                <button class="search-btn" type="submit" data-bn-ipg="index-top-place-search">搜索</button>
            </form>
            <div class="bg-gray-f6 p-sm tc-gray9 font-12">共找到 329 个相关内容</div>


            <div class="search-menu">
                <a class="active" href="#">全部</a>
                <a href="#">景点</a>
                <a href="#">资讯</a>
                <a href="#">游记</a>
                <a href="#">话题</a>
                <a href="#">装备</a>
            </div>


            <div class="search-list">
                <for start="2" end="5">
                <div class="search-scenic">
                    <h4><a class="tc-black font-bold" href="#">马尔代夫<font color="#f26622">香格里拉</font>酒店 Shangri-La Maldives Resort & Spa</a></h4>
                    <div class="search-scenic-info">
                        <a href="#"><img class="search-img" src="__PUBLIC__/img/f2.png"></a>
                        <div class="info-container">
                            <div class="tc-gray9">
                                西藏 / <a class="tc-gray6" href="#">香格里拉</a>
                                <span class="m-l-sm">
                                    {:W('Scenic/score',array('score'=>rand(2,10)))}
                                </span>
                            </div>
                            <div class="tc-gray6 m-t-sm line-22">
                                Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                            </div>
                        </div>
                    </div>
                </div>
                </for>
            </div>
            <div class="search-other-list">
                <div class="search-item">
                    <h5><span class="tc-gray9">[资讯]</span> <a class="font-bold tc-black" href="#">马尔代夫<font color="#f26622">香格里拉</font>酒店 Shangri-La Maldives Resort & Spa</a></h5>
                    <div class="tc-gray6 m-t-sm line-22">
                         Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                    </div>
                    <div class="m-t-sm font-12">
                        <a href="#" class="tc-gray9 m-r-md">不叫静静</a>
                        <a href="#" class="tc-gray9 m-r-md">2016-8-8</a>
                    </div>
                </div>

                <div class="search-item">
                    <h5><span class="tc-gray9">[游记]</span> <a class="font-bold tc-black" href="#">马尔代夫<font color="#f26622">香格里拉</font>酒店 Shangri-La Maldives Resort & Spa</a></h5>
                    <div class="tc-gray6 m-t-sm line-22">
                         Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                    </div>
                    <div class="m-t-sm font-12">
                        <a href="#" class="tc-gray9 m-r-md">不叫静静</a>
                        <a href="#" class="tc-gray9 m-r-md">2016-8-8</a>
                    </div>
                </div>


                <div class="search-item">
                    <h5><span class="tc-gray9">[话题]</span> <a class="font-bold tc-black" href="#">穷游er<font color="#f26622">香格里拉</font>为你撰写的出境旅行指南</a></h5>
                    <div class="tc-gray6 m-t-sm line-22">
                         Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                    </div>
                    <div class="m-t-sm font-12">
                        <a href="#" class="tc-gray9 m-r-md">不叫静静</a>
                        <a href="#" class="tc-gray9 m-r-md">2016-8-8</a>
                    </div>
                </div>


                <div class="search-item">
                    <h5><span class="tc-gray9">[话题]</span> <a class="font-bold tc-black" href="#">穷游er<font color="#f26622">香格里拉</font>为你撰写的出境旅行指南</a></h5>
                    <div class="tc-gray6 m-t-sm line-22">
                        <img class="search-eq-img" src="http://image1.8264.com/forum/201403/21/141256huu0nrurbb9z0gbb.jpg!t1w231h231">
                         Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                    </div>
                </div>
            </div>
            
            <nav class="text-right">
              <ul class="pagination pagination-sm">
                
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- 如果没有记录 -->
            <div class="tc-gray9 text-center" style="height:200px;line-height:200px;">搜不到相关内容</div>
    	</div>
    </div>

    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
$(function(){
	$(".search-input").focus(function(event) {
		$(".search-hot").addClass('active');
	}).bind('blur',search_hot_hide);
	$(".search-hot").mouseover(function(event) {
		$(".search-input").unbind('blur');
	}).mouseout(function(event) {
		$(".search-input").bind('blur',search_hot_hide);
	});
})
function search_hot_hide(){
	$(".search-hot").removeClass('active');
}

</script>
</html>