<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i1n66UyP2DFctjvKLRt68GKY"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <title>西瓜游</title>
</head>

<body>
    
    <include file="Common/navbar" />
 
    <div class="index-header">
    	
    	<div class="container" style="width:780px;">
            <form class="search-form search-page" action="{:U('Search:all')}" method="get">
                <input class="search-input hover" name="key" type="text" value="{$key}">
                <button class="search-btn" type="submit" data-bn-ipg="index-top-place-search">搜索</button>
            </form>
            <div class="bg-gray-f6 p-sm tc-gray9 font-12">共找到 {$count} 个相关内容</div>


            <div class="search-menu">
                <a <if condition="ACTION_NAME eq 'all'">class="active"</if> href="{:U('Search:all',array('key'=>$key))}">全部({$all_count})</a>
                <a <if condition="ACTION_NAME eq 'scenic'">class="active"</if> href="{:U('Search:scenic',array('key'=>$key))}">景点({$scenic_count})</a>
                <a <if condition="ACTION_NAME eq 'infomation'">class="active"</if> href="{:U('Search:infomation',array('key'=>$key))}">资讯({$infomation_count})</a>
                <a <if condition="ACTION_NAME eq 'travel_note'">class="active"</if> href="{:U('Search:travel_note',array('key'=>$key))}">游记({$travel_note_count})</a>
                <a <if condition="ACTION_NAME eq 'topic'">class="active"</if> href="{:U('Search:topic',array('key'=>$key))}">话题({$topic_count})</a>
                <a <if condition="ACTION_NAME eq 'equipment'">class="active"</if> href="{:U('Search:equipment',array('key'=>$key))}">装备({$equipment_count})</a>

            </div>

            <if condition="count($searchList) neq 0 or count($scenicList) neq 0">
            <div class="search-list">
                <volist name="scenicList" id="vo">
                <div class="search-scenic">
                    <h4><a class="tc-black font-bold" href="{:U('Scenic/scenic',array('id'=>$vo['id']))}">{$vo.name}</a></h4>
                    <div class="search-scenic-info">
                        <if condition="$vo['image'] neq ''">
                        <a href="{:U('Scenic/scenic',array('id'=>$vo['id']))}" target="_blank">
                            <img class="search-img" src="{:U('Image/ScenicImg',array('w'=>200,'h'=>135,'image'=>urlencode($vo['image']).'!feature'),false,false)}">
                        </a>
                        <else/><a href="{:U('Infomation/detail',array('id'=>$vo['id']))}" target="_blank">
                            <img class="search-img" style="width:200px;height:135px;" src="__PUBLIC__/img/scenicdefault.jpg">
                        </a>
                        </if>



                        <div class="info-container">
                            <div class="tc-gray9">
                                {$vo.province} / <a class="tc-gray6" href="{:U('Scenic/city',array('id'=>$vo['city_id']))}">{$vo.city}</a>
                                <span class="m-l-sm">
                                    {:W('Scenic/score',array('score'=>$vo['grade']))}
                                </span>
                            </div>
                            <div class="tc-gray6 m-t-sm line-22">
                                {$vo.desciption}
                            </div>
                        </div>
                    </div>
                </div>
                </volist>
            </div>
            <div class="search-other-list">

                <volist name="searchList" id="vo">
                    <switch name="vo.type">
                        <case value="1">
                            <div class="search-item">
                                <if condition="$vo['image'] neq ''">
                                <a href="{:U('Infomation/detail',array('id'=>$vo['id']))}" target="_blank">
                                    <img class="search-eq-img m-l-sm" style="width:140px;height:100px;" src="{:U('Image/ScenicImg',array('w'=>140,'h'=>100,'image'=>urlencode($vo['image']).'!feature'),false,false)}">
                                </a>
                                <else/><a href="{:U('Infomation/detail',array('id'=>$vo['id']))}" target="_blank">
                                    <img class="search-eq-img m-l-sm" style="width:140px;height:100px;" src="__PUBLIC__/img/default.jpg">
                                </a>
                                </if>


                                <h5><span class="tc-gray9">[资讯]</span> <a class="font-bold tc-black" href="{:U('Infomation/detail',array('id'=>$vo['id']))}" target="_blank">{$vo.title}</a></h5>
                                <div class="tc-gray6 m-t-sm line-22">
                                    {$vo.content}
                                </div>
                                <div class="m-t-sm font-12">
                                    <a href="{:U('/u/'.$vo['user_id'],'',false,false)}" class="tc-gray9 m-r-md">{$vo.nickname}</a>
                                    <span class="tc-gray9 m-r-md">{$vo.time}</span>
                                </div>
                            </div>
                        </case>

                        <case value="2">
                            <div class="search-item">
                                <h5><span class="tc-gray9">[游记]</span> <a class="font-bold tc-black" href="{:U('/tn/'.$vo['t_id'])}" target="_blank">{$vo.title}</a></h5>
                                <div class="tc-gray6 m-t-sm line-22">
                                    {$vo.content}
                                </div>
                                <div class="m-t-sm font-12">
                                    <a href="{:U('/u/'.$vo['user_id'],'',false,false)}" class="tc-gray9 m-r-md">{$vo.nickname}</a>
                                    <span class="tc-gray9 m-r-md">{$vo.time}</span>
                                </div>
                            </div>
                        </case>

                        <case value="3">
                            <div class="search-item">
                                <h5><span class="tc-gray9">[话题]</span> <a class="font-bold tc-black" href="{:U('/t/'.$vo['id'])}" target="_blank">{$vo.title}</a></h5>
                                <div class="tc-gray6 m-t-sm line-22">
                                    {$vo.content}
                                </div>
                                <div class="m-t-sm font-12">
                                    <a href="{:U('/u/'.$vo['user_id'],'',false,false)}" class="tc-gray9 m-r-md">{$vo.nickname}</a>
                                    <span class="tc-gray9 m-r-md">{$vo.time}</span>
                                </div>
                            </div>
                        </case>

                        <case value="4">
                            <div class="search-item">
                                <h5><span class="tc-gray9">[装备]</span> <a class="font-bold tc-black" href="{:U('/eq/'.$vo['id'])}" target="_blank">{$vo.title}</a></h5>
                                <div class="tc-gray6 m-t-sm line-22">
                                    <a class="font-bold tc-black" href="{:U('/eq/'.$vo['id'])}" target="_blank"><img class="search-eq-img" src="{:U('Image/ScenicImg',array('w'=>62,'h'=>62,'image'=>urlencode($vo['image']).'!feature'),false,false)}"></a>
                                    {$vo.content}
                                </div>
                            </div>
                        </case>







                    
<!-- 
                    <div class="search-item">
                        <h5><span class="tc-gray9">[游记]</span> <a class="font-bold tc-black" href="#" target="_blank">马尔代夫<font color="#f26622">香格里拉</font>酒店 Shangri-La Maldives Resort & Spa</a></h5>
                        <div class="tc-gray6 m-t-sm line-22">
                             Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                        </div>
                        <div class="m-t-sm font-12">
                            <a href="#" class="tc-gray9 m-r-md">不叫静静</a>
                            <a href="#" class="tc-gray9 m-r-md">2016-8-8</a>
                        </div>
                    </div>


                    <div class="search-item">
                        <h5><span class="tc-gray9">[话题]</span> <a class="font-bold tc-black" href="#" target="_blank">穷游er<font color="#f26622">香格里拉</font>为你撰写的出境旅行指南</a></h5>
                        <div class="tc-gray6 m-t-sm line-22">
                             Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                        </div>
                        <div class="m-t-sm font-12">
                            <a href="#" class="tc-gray9 m-r-md">不叫静静</a>
                            <a href="#" class="tc-gray9 m-r-md">2016-8-8</a>
                        </div>
                    </div>


                    <div class="search-item">
                        <h5><span class="tc-gray9">[话题]</span> <a class="font-bold tc-black" href="#" target="_blank">穷游er<font color="#f26622">香格里拉</font>为你撰写的出境旅行指南</a></h5>
                        <div class="tc-gray6 m-t-sm line-22">
                            <img class="search-eq-img" src="http://image1.8264.com/forum/201403/21/141256huu0nrurbb9z0gbb.jpg!t1w231h231">
                             Shangri-La Maldives Resort & Spa位于南部环礁Addu的Villingili。国内航班70分钟抵达Gan机场，然后乘船8分钟。度假村接待员会在机场迎接客人
                        </div>
                    </div> -->


                    </switch>
                </volist>
            </div>
            
            <nav class="text-right">
              <ul class="pagination pagination-sm">
                    {$page}
              </ul>
            </nav>
            <!-- 如果没有记录 -->
            <else/>
                <div class="tc-gray9 text-center" style="height:200px;line-height:200px;">搜不到相关内容</div>
            </if>
    	</div>
    </div>

    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
$(function(){
	$(".search-input").focus(function(event) {
		$(".search-hot").addClass('active');
	}).bind('blur',search_hot_hide);
	$(".search-hot").mouseover(function(event) {
		$(".search-input").unbind('blur');
	}).mouseout(function(event) {
		$(".search-input").bind('blur',search_hot_hide);
	});
})
function search_hot_hide(){
	$(".search-hot").removeClass('active');
}

</script>
</html>