.equip_container{
	width: 780px;
}
.tnav{
	height: 100px;
}
.one_equipment_box{
	float: left;
	text-align: center;
	border:1px solid #e8e8e8;
	width: 240px;
}
.one_equipment_box img{
	padding-top: 20px;
}
.wenzi{
	padding:80px 20px 20px 20px;
}