<div class="row">
	<div class="col-xs-12">
		<h3 class="page-header to">景点管理</h3>
	</div>
	<div class="col-xs-12 p-l-md tc-gray9">
		总共<span class="tc-black"> {$province_count} </span>个省份
	</div>
	<div class="col-xs-12 m-t-sm">
		<div class="boder-e-container">
			<a href="{:U('Scenic/scenic')}" class="space-item <if condition="$province_id eq ''"> active</if>">全部({$province_count})</a>
			<volist name="provinceList" id="vo">
				<a href="{:U('Scenic/scenic',array('province_id'=>$vo['id']))}" class="space-item <if condition="$province_id eq $vo['id']"> active</if>">{$vo.province}({$vo.count})</a>
			</volist>
		</div>
	</div>
	<if condition = "$province_id neq ''">
	<div class="col-xs-12 p-l-md tc-gray9 m-t-sm">
		<span class="tc-black">{$province}</span> 总共 <span class="tc-black"> {$city_count} </span>个城市
	</div>
	<div class="col-xs-12 m-t-sm">
		<div class="boder-e-container">
			<a href="{:U('Scenic/scenic',array('province_id'=>$province_id))}" class="space-item <if condition="$city_id eq ''"> active</if>">全部({$all_count})</a>
			<volist name="cityList" id="vo">
				<a href="{:U('Scenic/scenic',array('province_id'=>$province_id,'city_id'=>$vo['id']))}" class="space-item <if condition="$city_id eq $vo['id']"> active</if>">{$vo.city}({$vo.scenic_count})</a>
			</volist>
		</div>
	</div>
	</if>


	<div class="col-xs-12 p-l-md m-t-sm tc-gray9">
		<span class="tc-black">{$city}</span> 总共 <span class="tc-black"> {$scenic_count} </span>个景点
		
		<a href="{:U('Scenic/scenicForm',array('province_id'=>$province_id,'city_id'=>$city_id))}" class="pull-right"><span class="glyphicon glyphicon-plus"></span> 添加景点</a>
		
	</div>
	<div class="col-xs-12 m-t-sm">
		<div class="city-container">
			<include file="Scenic/list" />
		</div>
		<ul class="pagination pagination-sm m-t-lg">
			{$page}
		</ul>
	</div>


</div>
<form action="{:U('Scenic/scenic_img_change')}" id="img-change-form" method="post" data-obj="" enctype="multipart/form-data">
	<input type="hidden" name="id" />
	<input type="file" name="img" class="hidden" accept="image/jpg,image/png,image/jpeg"/>
</form>
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin/addcity.js"></script>

<script type="text/javascript">
	$(function(){
		$('button[type="submit"]').click(function(){
			$(this).button('loading');
		}).blur(function(){
			$(this).button('reset');
		});
	})
</script>
