<div class="row">
	<div class="col-xs-12">
		<h3 class="page-header to">游记管理</h3>
	</div>
	<if condition ="$user_id neq ''">
		<div class="col-xs-12">
			<a href="{:U('TravelNote/index')}">全部</a>
			<span class="m-l-xs m-r-xs tc-gray9">/</span>
			<a class='m-r-sm tc-gray6'>{$nickname} </a>
		</div>
	</if>
	<div class="col-xs-12 m-t-sm">
		<div class="boder-e-container">
			<include file="TravelNote/list" />
			<ul class="pagination pagination-sm m-t-lg">
					{$page}
			</ul>



		</div>
	</div>



		
</div>