<volist name="travelNoteList" id="vo">
			<div class="boder-b-dashed">
				<div class="travel-note-title"><a href="{:U('Home/tn/'.$vo['id'])}" target="_blank">{$vo.title}</a></div>
				<div class="m-t-sm"> 
					
					<volist name="vo.pic" id="item" offset="0" length='6'>
						<a href="{$item}" target="_blank"><img class="travel-note-img" src="{$item}"></a>
					</volist>
				</div>
				<div class="travel-note-info">
					<a href="{:U('TravelNote/index',array('user_id'=>$vo['user_id']))}" class="tc-gray6 m-r-md"><span class="glyphicon glyphicon-user tc-gray9"></span> {$vo.nickname}</a>
					<span class="tc-gray9 m-r-md">{$vo.time}</span>
					<span class="tc-gray4 m-r-md"><span class="glyphicon glyphicon-eye-open tc-gray9"></span> {$vo.browse}</span>
					<span class="tc-gray4 m-r-md"><span class="glyphicon glyphicon-comment tc-gray9"></span> {$vo.comment}</span>
					<span class="tc-gray4 m-r-md"><span class="glyphicon glyphicon glyphicon-thumbs-up tc-gray9"></span> {$vo.zan}</span>
				</div>
				<div class="m-t-sm">
					<a href="{:U('Home/tn/'.$vo['id'])}" target="_blank" class="btn btn-default btn-xs m-r-sm" target="_blank">查看</a>
					<a href="{:U('TravelNote/delete',array('id'=>$vo['id']))}" class="btn btn-danger btn-xs" onclick="return confirm('确认删除吗？')">删除</a>
				</div>
			</div>

			</volist>