<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
    <link rel="stylesheet" href="__PUBLIC__/css/photoViewer.css">
  	<link rel="stylesheet" href="__PUBLIC__/css/city_list.css">
    <title>西瓜游-景点</title>

</head>

<body>
    <include file="Common/navbar" />
    <div class="p-t-md">
      <div class="container">
          <h2>热门城市</h2>
          <div class="hot_container over-h m-t-lg">
            <volist name="CityList" id="vo">
            <div class="hit_item">
              <a class="img_a" href="{:U('Scenic/city',array('id'=>$vo['id']))}">
                <img class="transition-all-1" src="{$vo.image|default="__PUBLIC__/img/city.jpg"}">
              </a>
              <div class="p-sm text-center">
                <div class="font-bold font-16">
                  <a class="title" href="{:U('Scenic/city',array('id'=>$vo['id']))}">{$vo.city}</a>
                </div>
                <div class="m-t-xs font-12 tc-gray9">
                  <span class="keywords">{$vo.want}</span>人想去
                  <span class="m-l-sm keywords">{$vo.been}</span>人去过
                </div>
              </div>
            </div>
            </volist>
          </div>
        </div>
    </div>
    
   	<div class="container">
      <h2 class="pull-left">城市列表</h2>
      <!-- <div class="city-type m-l-lg pull-left">
            <a class="active" href="#">全部</a>
            <a href="#">东北</a>
            <a href="#">华东</a>
            <a href="#">西南</a>
      </div> -->

      <div style="clear: both;">
        <!-- <h3 class="tc-main">东北</h3> -->
        <volist name="ProvinceList" id="vo">
          <div class="p-item">
            <span class="p-title">{$vo.province}</span>
            <ul class="city_list">
              <volist name="vo.city" id="c_item">
                <li><a href="{:U('Scenic/city',array('id'=>$c_item['id']))}">{$c_item.city}</a></li>
              </volist>
            </ul>
          </div>
        </volist>



      </div>
    </div>


    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";

  option = {
        loadUrl : "{:U('Index/ajax_load')}",
        num: 100
    };
 
</script>
<script type="text/javascript" src="__PUBLIC__/js/photoViewer.js"></script>
</html>