<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
    <link rel="stylesheet" href="__PUBLIC__/css/photoViewer.css">
  	<link rel="stylesheet" href="__PUBLIC__/css/city_list.css">
    <title>西瓜游-景点</title>

</head>

<body>
    <include file="Common/navbar" />
   	<div class="container">
      <h2 class="pull-left">城市列表</h2>
      <div class="city-type m-l-lg pull-left">
            <a class="active" href="#">全部</a>
            <a href="#">东北</a>
            <a href="#">华东</a>
            <a href="#">西南</a>
      </div>
      <div style="clear: both;"></div>
      
      <div style="clear: both;">
        <h3 class="tc-main">东北</h3>
        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">齐齐哈尔市</a></li>
            <li><a href="#">鸡西市</a></li>
            <li><a href="#">大庆市</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>

        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">齐齐哈尔市</a></li>
            <li><a href="#">鸡西市</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>

        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">齐齐哈尔市</a></li>
            <li><a href="#">鸡西市</a></li>
            <li><a href="#">大庆市</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>


        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">齐齐哈尔市</a></li>
            <li><a href="#">鸡西市</a></li>
            <li><a href="#">大庆市</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>


        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>


        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>
      </div>
          <div style="clear: both;">
        <h3 class="tc-main">东北</h3>
        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">齐齐哈尔市</a></li>
            <li><a href="#">鸡西市</a></li>
            <li><a href="#">大庆市</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>

        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">齐齐哈尔市</a></li>
            <li><a href="#">鸡西市</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>

        <div class="p-item">
          <span class="p-title">黑龙江</span>
          <ul class="city_list">
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">齐齐哈尔市</a></li>
            <li><a href="#">鸡西市</a></li>
            <li><a href="#">大庆市</a></li>
            <li><a href="#">掌不住</a></li>
            <li><a href="#">不懂</a></li>
            <li><a href="#">哈尔滨</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">黑色幽默</a></li>
            <li><a href="#">相同</a></li>
          </ul>
        </div>


      </div>
    </div>


    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";

  option = {
        loadUrl : "{:U('Index/ajax_load')}",
        num: 100
    };
 
</script>
<script type="text/javascript" src="__PUBLIC__/js/photoViewer.js"></script>
</html>