<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
	<link rel="stylesheet" href="__PUBLIC__/css/carousel.css">
    <title>西瓜游-{$city_info.city}</title>
</head>

<body>
    <include file="Common/navbar" />
    <div class="border-b-gray-e ">
	    <div class="container p-t-md">
			<div class="row">
				<div class="col-xs-12">
					{:W('Scenic/breadcrumb',array('type'=>1,'id'=>$city_id))}
				</div>
				
				<div class="col-xs-12 m-b-sm">
					<h2>
						<a>{$city_info.city}</a>
						<span class="pull-right m-t-md font-12">
							<span class="want_count tc-main">{$want_count}</span>人想去这里，
							<span class="been_count tc-main">{$been_count}</span>人去过这里
						</span>
					</h2>
				</div>

				
				<div class="col-xs-12">
					<div class="border-t-gray-e">
						<ul class="head-menu-l">
							<li><a href="javascript:void(0)" data-content="scenic">景点</a></li>
							<li><a href="#">游记</a></li>
							<li><a href="{:U('Scenic/photo',array('type'=>1,'id'=>$city_id))}">照片</a></li>
							<li><a href="{:U('Scenic/city',array('id'=>$city_id,'type_id'=>$food_id))}">美食</a></li>
						</ul>
						<ul class="head-menu-l pull-right">
							<li><a class="map-view" href="javascript:void(0)">地图</a></li>
						</ul>
					</div>
				</div>
			</div>
	    </div>
	</div>

	<div class="bg-gray-f6 p-t-md p-b-md border-b-gray-e ">
		<div class="container">
			
			<div class="span-container bg-white over-h">
				<div class="span-left focus-pic">
					<include file="ScenicContent:Carousel" />
					<a class="pic_num" href="{:U('Scenic/photo',array('type'=>1,'id'=>$city_id))}">{$imgCount}张照片</a>
				</div>
				<div class="span-right">
					<ul class="op-2 over-h">
						<li>
							{:W('Scenic/cityWant',array('city_id'=>$city_id))}
						</li>
						<li>
							{:W('Scenic/cityBeen',array('city_id'=>$city_id))}
						</li>
					</ul>
					<div class="p-md p-t-sm">
						<div class="border-t-gray-e">
							<h4 class="m-b-sm">热门推荐</h4>
							<ul class="hot-scenic">
								<!-- 热门推荐 -->
								<foreach name="HotScenicList" item="vo" >
								<li>
									<div class="pull-left">
										<a href="#">
											<img src="{:U('Image/ScenicImg',array('image'=>urlencode($vo['image']).'!feature'),false,false)}">
										</a>
									</div>
									<div class="to1"><a href="#">{$vo.name}</a></div>
									<div class="m-t-3 to1">
										{:W('Scenic/score',array('score'=>$vo['grade']))}

									</div>
									<div class="m-t-3 font-12 tc-gray9 to1">{$vo.want_count}个人想去</div>
								</li>
								</foreach>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white p-t-md">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h4 id="scenic">{$city_info.city}景点</h4>
					<div class="m-t-md scenic-type border-t-gray-e p-t-sm over-h">
						
						<a <if condition ="$type_id eq '0'">class="active"</if> href="{:U('Scenic/city',array('id'=>$city_id))}">全部</a>
						<foreach name="TypeList" item="vo">
							<a <if condition ="$type_id eq $vo['id']">class="active"</if> href="{:U('Scenic/city',array('id'=>$city_id,'type_id'=>$vo['id']))}">{$vo.type}</a>
						</foreach>
					</div>

					<div class="border-t-gray-e p-t-sm">
						<div class="list">
							<foreach name="ScenicList" item="vo" >
							<div class="s-item p-b-sm border-b-gray-e m-b-sm over-h">
								<div class="scenic-img">
									<a href="{:U('Scenic/scenic',array('id'=>$vo[id]))}">
										<img src="{:U('Image/ScenicImg',array('w'=>225,'h'=>150,'image'=>urlencode($vo['image'].'!feature')),false,false)}">
									</a>
								</div>
								<div class="scenic-info">
									<div class="s-title">
										<a href="{:U('Scenic/scenic',array('id'=>$vo[id]))}">
											{$vo.name}
										</a>
									</div>
									<div class="m-t-xs">
										{:W('Scenic/score',array('score'=>$vo['grade']))}
										<span class="tc-gray9 m-l-sm font-12">{$vo.comment_count}人评论</span>
										<span class="tc-gray9 pull-right font-12 m-t-xs">{$vo.type}</span>

									</div>
									<div class="m-t-xs tc-gray6">
										{:str_sub($vo['desciption'],170)}
									</div>
								</div>
							</div>
						</foreach>
						<div class="text-right">
							<ul class="pagination pagination-sm">
							  {$page}
							</ul>	
						</div>








						</div>
					</div>
				</div>

				<div class="col-xs-4">
					<h4>{$city_info.city}地图</h4>
					<div id="map" style="height:300px;"></div>
					<button class="map-view btn btn-sm btn-default btn-block m-t-sm">查看地图</button>
					<hr>
					<div class="font-18 m-t-sm">
						该城市游记
						<a href="#" class="pull-right font-12 tc-gray9 m-t-xs">更多>></a>
					</div>
					<div class="m-t-sm">
						
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>

    <include file="Common/footer" />
	<!-- 地图模态框 -->
    <div class="modal fade bs-example-modal-lg"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">
          	{$city_info.city}
          </h4>
        </div>
        <div class="modal-body">
          <div style="height:500px;width:100%;">
          	<div id="modal-map" style="height:100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>





</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.toaster.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i1n66UyP2DFctjvKLRt68GKY"></script>
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";
	var city_id = {$city_id};
	var c_want_url = "{:U('CityWant/want')}";
	var c_been_url = "{:U('CityBeen/been')}";

	// 百度地图API功能
	var map = new BMap.Map("map");
	
	map.enableScrollWheelZoom(true);



	var modal_map = new BMap.Map("modal-map");
	<if condition="$city_info['province'] eq '台湾省'">
		var point = new BMap.Point({$lnglatstr});
		map.centerAndZoom(point, 9.5);
		modal_map.centerAndZoom(point, 9.5);
	<else/>
		map.centerAndZoom('中国{$city_info.province}{$city_info.city}', 12);
		modal_map.centerAndZoom('中国{$city_info.province}{$city_info.city}', 12);
	</if>
	
	modal_map.enableScrollWheelZoom(true);

	$(function(){
		$(".map-view").click(function(event) {
			$('#myModal').modal('show');
			setTimeout(function(){
				<if condition="$city_info['province'] eq '台湾省'">
					modal_map.centerAndZoom(point, 9.5);
				<else/>
					modal_map.centerAndZoom('中国{$city_info.province}{$city_info.city}', 21);
				</if>
			}, 400);
		});

		$(".head-menu-l li a").click(function(event) {
			var content = $(this).attr('data-content');
			if(content!=undefined)
				$("html,body").animate({scrollTop:$("#"+content).offset().top},200);
		});
	})
</script>
<script type="text/javascript" src="__PUBLIC__/js/op.js"></script>
</html>