<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
	<link rel="stylesheet" href="__PUBLIC__/css/carousel.css">
    <title>西瓜游-景点</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="border-b-gray-e ">
	    <div class="container p-t-md">
			<div class="row">
				<div class="col-xs-12">
					<a href="#">首页</a>
					<span class="tc-gray9 font-12">></span>
					<a href="#">东北</a>
					<span class="tc-gray9 font-12">></span>
					<a href="#">哈尔滨</a>
					<span class="tc-gray9 font-12">></span>
					<span>福满楼</span>
				</div>
				
				<div class="col-xs-8 m-b-sm">
					<h2>
						<a href="#">福满楼</a>
					</h2>
				</div>
				<div class="col-xs-4">
					<ul class="op-3 over-h m-b-sm">
						<li>
							<span class="iconfont icon-shoucangyishoucang-copy icon"></span>
							<span>想去</span>
						</li>
						<li>
							<span class="glyphicon glyphicon-flag icon"></span>
							<span>去过</span>
						</li>
						<li>
							<span class="glyphicon glyphicon-thumbs-up icon"></span>
							<span>点赞</span>
						</li>
					</ul>
				</div>

				
				
			</div>
	    </div>
	</div>
	<div class="bg-gray-f6 p-t-md p-b-md border-b-gray-e ">
		
	</div>
	<br>

    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/infomation.js"></script>
</html>