<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
	<link rel="stylesheet" href="__PUBLIC__/css/carousel.css">
    <title>西瓜游-景点</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="border-b-gray-e ">
	    <div class="container p-t-md">
			<div class="row">
				<div class="col-xs-12">
					<a href="#">首页</a>
					<span class="tc-gray9 font-12">></span>
					<a href="#">东北</a>
					<span class="tc-gray9 font-12">></span>
					<a href="#">哈尔滨</a>
					<span class="tc-gray9 font-12">></span>
					<span>福满楼</span>
				</div>
				
				<div class="col-xs-8 m-b-sm">
					<h2>
						<a href="#">福满楼</a>
					</h2>
				</div>
				<div class="col-xs-4">
					<ul class="op-3 over-h m-b-sm">
						<li>
							<span class="iconfont icon-shoucangyishoucang-copy icon"></span>
							<span>想去</span>
						</li>
						<li>
							<span class="glyphicon glyphicon-flag icon"></span>
							<span>去过</span>
						</li>
						<li>
							<span class="glyphicon glyphicon-thumbs-up icon"></span>
							<span>点赞</span>
						</li>
					</ul>
				</div>

				
				
			</div>
	    </div>
	</div>
	<div class="bg-gray-f6 p-t-md p-b-md border-b-gray-e">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<div class="bg-white p-md border-gray-e">
						<div class="top_con over-h">
							<div class="fh_img_con">
								<a class="pic_num" href="#">152张照片</a>
								<a href="#"><img src="__PUBLIC__/img/f1.png"></a>
							</div>
							<div class="fh_info_con p-t-xs">
								<span class="tc-main font-24">8.5</span>
								<span class="tc-main m-r-sm">分</span>
								<span class="glyphicon glyphicon-signal tc-main font-14"></span>
								<div class="m-t-md">
									<i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i>
									<span class="over-h half" ><i class="iconfont icon-xing tc-grayc" style="position:absolute;"></i><i class="iconfont icon-1 tc-main" style="position:absolute;"></i></span><i class="iconfont icon-xing tc-grayc m-l-14"></i>
									<span class="tc-gray9 m-l-sm font-12">56人评论</span>
								</div>
								<div class="m-t-sm">
									<div class="m-b-xs"><span class="glyphicon glyphicon-flag m-r-xs tc-grayd"> <span class="tc-gray6">2015位瓜友去过这里</span></span> </div>
									<div class="tc-gray6"><span class="glyphicon glyphicon-heart m-r-xs tc-grayd"> <span class="tc-gray6">25位瓜友想过这里</span></span></span> </div>
								</div>
								<div class="m-t-md">
									<a class="btn bg-main btn-sm"><span class="glyphicon glyphicon-edit"></span> 写评论</a>
								</div>
							</div>
						</div>


						<div class="m-t-md">
							星光大道位于香港九龙尖沙咀东部的尖沙咀海滨花园，是为表扬香港电影界的杰出人士而设置的特色景点。它仿效美国好莱坞星光大道，将逾百名电影工作者的芳名与手掌印镶嵌在特制的纪念牌匾，以年代依次排列在星光大道上，表扬他们为香港百年电影业所作的贡献。在尖沙咀海旁，还可以观赏两米高的李小龙铜像、电影发展里程碑。当你漫步在星光大道上，在观看众多名人手印同时，还可以欣赏到香港著名的维多利亚港景色、香港岛沿岸特色建筑，这里还是香港崭新的多媒体灯光音乐汇演－幻彩咏香江的理想观赏点。
						</div>
						<div class="m-t-md">
							<span class="tc-gray9">地址：</span>
							香港山頂山頂道128號(查看地图)
						</div>




						<div class="m-t-md">
							<span class="font-18">
								这里附近还有
							</span>
							<div class="m-t-md over-h">
								<div class="imgListCon">
									<a class="a_img" href="#">
										<img class="imgList3" src="__PUBLIC__/img/f1.png">
									</a>
									<div class="m-t-sm text-center">
										<a href="#">福利社</a>
									</div>
									<div class="m-t-xs text-center">
										<i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i>
										<span class="over-h half" ><i class="iconfont icon-xing tc-grayc" style="position:absolute;"></i><i class="iconfont icon-1 tc-main" style="position:absolute;"></i></span><i class="iconfont icon-xing tc-grayc m-l-14"></i>
										<span class="tc-gray9 m-l-sm font-12">56人评论</span>
									</div>
								</div>
								<div class="imgListCon">
									<a class="a_img" href="#">
										<img class="imgList3" src="__PUBLIC__/img/f1.png">
									</a>
									<div class="m-t-sm text-center">
										<a href="#">福利社</a>
									</div>
									<div class="m-t-xs text-center">
										<i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i>
										<span class="over-h half" ><i class="iconfont icon-xing tc-grayc" style="position:absolute;"></i><i class="iconfont icon-1 tc-main" style="position:absolute;"></i></span><i class="iconfont icon-xing tc-grayc m-l-14"></i>
										<span class="tc-gray9 m-l-sm font-12">56人评论</span>
									</div>
								</div>
								<div class="imgListCon mo">
									<a class="a_img" href="#">
										<img class="imgList3" src="__PUBLIC__/img/f1.png">
									</a>
									<div class="m-t-sm text-center">
										<a href="#">福利社</a>
									</div>
									<div class="m-t-xs text-center">
										<i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i>
										<span class="over-h half" ><i class="iconfont icon-xing tc-grayc" style="position:absolute;"></i><i class="iconfont icon-1 tc-main" style="position:absolute;"></i></span><i class="iconfont icon-xing tc-grayc m-l-14"></i>
										<span class="tc-gray9 m-l-sm font-12">56人评论</span>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>




					<include file="ScenicContent/foodhotelContent" />


				</div>

				<div class="col-xs-4">
					dsads
				</div>
				
			</div>
		</div>


	</div>
	

    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/infomation.js"></script>
</html>