<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/photoViewer.css">
    <title>西瓜游-景点</title>

</head>

<body>
    <!-- <div class="photoViewer" id="photoViewer">
    	<div class="photoContainer">
    		<div class="view">
    			<a href="javascript:void(0)" class="op pre"><span class="glyphicon glyphicon-chevron-left"></span></a>
    			<a href="javascript:void(0)" class="op next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    			<div class="imgContainer">
					<img src="__PUBLIC__/img/f1.png">
				</div>
    		</div>
    		<div class="info">
    			dasdasdsa <a href="#">dasds</a>  dasdsa
				<a href="javascript:void(0)" class="b"><span class="glyphicon glyphicon-share"></span></a>
    		</div>
    	</div>
    	<a class="cl" href="javascript:void(0)"><span class="glyphicon glyphicon-remove"></span></a>
    </div> -->


    <include file="Common/navbar" />
   	<a href="javascript:void(0)" id="test" class="btn btn-sm btn-info m-t-md m-b-md m-l-lg">测试</a>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
	

    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";

  option = {
        loadUrl : "{:U('Index/ajax_load')}",
        num: 100
    };
 
</script>
<script type="text/javascript" src="__PUBLIC__/js/photoViewer.js"></script>
</html>