<!DOCTYPE html>
<html>
<head>
  <include file="Common/headerCSS" />
  <link rel="stylesheet" href="__PUBLIC__/css/photoViewer.css">
  <link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
	<link rel="stylesheet" href="__PUBLIC__/css/photo.css">
  <title>西瓜游-景点</title>

</head>

<body>
    <include file="Common/navbar" />
   	<div class="border-b-gray-e ">
      <div class="container p-t-md">
        <div class="row">
          <div class="col-xs-12">
            <a href="#">首页</a>
            <span class="tc-gray9 font-12">></span>
            <a href="#">东北</a>
            <span class="tc-gray9 font-12">></span>
            <a href="#">哈尔滨</a>
            <span class="tc-gray9 font-12">></span>
            <span>福满楼</span>
          </div>
          
          <div class="col-xs-8 m-b-sm">
            <h2>
              <a href="#">福满楼</a>
            </h2>
          </div>
          <div class="col-xs-4">
            <ul class="op-3 over-h m-b-sm">
              <li>
                <span class="iconfont icon-shoucangyishoucang-copy icon"></span>
                <span>想去</span>
              </li>
              <li>
                <span class="glyphicon glyphicon-flag icon"></span>
                <span>去过</span>
              </li>
              <li>
                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                <span>点赞</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="#" class="btn btn-sm bg-main pull-right m-t-md m-r-sm">上传相片</a>
          <h3>福满楼共99张照片</h3>
        </div>



        <div class="col-xs-12 m-t-md">
          <div class="photoCon">
            <for start="1" end = "5">
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/6.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/1.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/2.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/3.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/4.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/5.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/7.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/8.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/9.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            <div class="photoItem">
              <img src="http://img2.3lian.com/2014/f2/132/d/11.jpg">
              <div class="info">
                <a href="#">麦乐</a> 上传于 2016-2-4
              </div>
              <a href="javascript:void(0)" class="p_delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
            </for>

          </div>
          <ul class="pagination pagination-sm pull-right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>

	

    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/js/photoViewer.js"></script>
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";

 $(function(){
  $(".photoItem img").photoViewer({
        loadUrl : "{:U('Index/ajax_load')}",
        num: 100
   });
 })
</script>
</html>