<!DOCTYPE html>
<html>
<head>
  <include file="Common/headerCSS" />
  <link rel="stylesheet" href="__PUBLIC__/css/photoViewer.css">
  <link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
  <link rel="stylesheet" href="__PUBLIC__/css/photo.css">
	<link rel="stylesheet" href="__PUBLIC__/css/photo_upload.css">
  <title>西瓜游-{$name}</title>

</head>

<body>
    <include file="Common/navbar" />
   	<div class="border-b-gray-e ">
      <div class="container p-t-md">
        <div class="row">
          <div class="col-xs-12">
            {:W('Scenic/breadcrumb',array('type'=>$type,'id'=>$id))}
          </div>
          
          <div class="col-xs-8 m-b-sm">
            <h2>
              <a>{$name}</a>
            </h2>
          </div>
          <div class="col-xs-4">
            
              <if condition="$type eq 1">
                <ul class="op-2 over-h m-b-sm">

                <li>
                  {:W('Scenic/cityWant',array('city_id'=>$id))}
                </li>
                <li>
                  {:W('Scenic/cityBeen',array('city_id'=>$id))}
                </li>
                </ul>
                <else/>
                <ul class="op-3 over-h m-b-sm">
                <li>
                  {:W('Scenic/scenicWant',array('scenic_id'=>$id))}
                </li>
                <li>
                  {:W('Scenic/scenicBeen',array('scenic_id'=>$id))}
                </li>
                <li>
                  {:W('Scenic/scenicZan',array('scenic_id'=>$id))}
                </li>
                </ul>
              </if>
            
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="javascript:void(0)" class="btn btn-sm bg-main pull-right m-t-md photo_upload">上传相片</a>
          <h3>{$name}共{$img_count}张照片</h3>
        </div>



        <div class="col-xs-12 m-t-md">
          <div class="photoCon">
            <volist name="imgList" id ="vo">
              <div class="photoItem">
                <img data-id="{$vo.id}" src="{:U('Image/ScenicImg',array('w'=>180,'h'=>160,'image'=>urlencode($vo['image']).'!feature'),false,false)}"_>
                <div class="info">
                  <if condition ="$vo['scenic_id'] neq '0'">
                  <a href="{:U('/u/'.$vo['user_id'],'',false,false)}">{$vo.user.nickname}</a> 上传于 <a href="{:U('Scenic/scenic',array('id'=>$vo['scenic_id']))}">{$vo.scenic.name}</a>
                  <else/>
                  <a href="{:U('/u/'.$vo['user_id'],'',false,false)}">{$vo.user.nickname}</a> 上传于 {$vo.time}
                  </if>
                </div>
                
              </div>
            </volist>

          </div>
          <ul class="pagination pagination-sm pull-right">
            {$page}
          </ul>
        </div>
      </div>
    </div>

	

    <include file="Common/footer" />


    <include file="ScenicContent/photoUpload" />








</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/js/photoViewer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/op.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/exif/js/exif.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.form.js"></script>
<script type="text/javascript">
  var _login_url = "{:U('Login/index')}?url=__SELF__";
  var album_url = "{:U('Album/load')}";
	var PUBLIC = "__PUBLIC__";
  var login_state = <if condition="session('?login')">true<else/>false</if>;
  var type = {$type};
  var save_url = "{:U('Image/upload_save')}";
  var delete_url = "{:U('Image/cancel')}";
  var add_album_url = "{:U('Album/add')}";
  <if condition = "$type eq 1">
  var city_id = {$id};
  var c_want_url = "{:U('CityWant/want')}";
  var c_been_url = "{:U('CityBeen/been')}";
  var scenic_id = 0;
  <else/>
  var scenic_id = {$id};
  var s_zan_url = "{:U('Zan/AjaxZan')}";
  var s_want_url = "{:U('ScenicWant/want')}";
  var s_been_url = "{:U('ScenicBeen/been')}";
  </if>
 $(function(){
  $(".photoItem img").photoViewer({
        loadUrl : "{:U('Image/imgLoad')}",
        num: {$img_count},
        params:{'type':type}
   });
 })
</script>
<script type="text/javascript" src="__PUBLIC__/js/img_base64.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/photo_upload.js"></script>
</html>