<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
    <link rel="stylesheet" href="__PUBLIC__/css/photoViewer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/city_list.css">
  	<link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <title>西瓜游-景点</title>

</head>

<body>
    <include file="Common/navbar" />
    <div class="p-t-md">
      <div class="container">
          <div class="m-b-md">
            {:W('Scenic/breadcrumb',array('type'=>0,'id'=>$province_id))}
          </div>
          <h2>{$province}</h2>
          <div class="hot_container over-h m-t-lg">
            <volist name="CityList" id="vo">
            <div class="hit_item">
              <a class="img_a" href="{:U('Scenic/city',array('id'=>$vo['id']))}">
                <img class="transition-all-1" src="{$vo.image|default="__PUBLIC__/img/city.jpg"}">
              </a>
              <div class="p-sm text-center">
                <div class="font-bold font-16">
                  <a class="title" href="{:U('Scenic/city',array('id'=>$vo['id']))}">{$vo.city}</a>
                </div>
                <div class="m-t-xs font-12 tc-gray9">
                  <span class="keywords">{$vo.want}</span>人想去
                  <span class="m-l-sm keywords">{$vo.been}</span>人去过
                </div>
              </div>
            </div>
            </volist>
          </div>
        </div>
    </div>


    
   	


    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />

</html>