<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
	<link rel="stylesheet" href="__PUBLIC__/css/carousel.css">
    <title>西瓜游-景点</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="border-b-gray-e ">
	    <div class="container p-t-md">
			<div class="row">
				<div class="col-xs-12">
					{:W('Scenic/breadcrumb',array('type'=>2,'id'=>$scenic_id))}
				</div>
				
				<div class="col-xs-8 m-b-sm">
					<h2>
						<a>{$ScenicInfo.name}</a>
					</h2>
				</div>
				<div class="col-xs-4">
					<ul class="op-3 over-h m-b-sm">
						<li>
							{:W('Scenic/scenicWant',array('scenic_id'=>$scenic_id))}
						</li>
						<li>
							{:W('Scenic/scenicBeen',array('scenic_id'=>$scenic_id))}
						</li>
						<li>
							{:W('Scenic/scenicZan',array('scenic_id'=>$scenic_id))}
						</li>
					</ul>
				</div>

				
				
			</div>
	    </div>
	</div>
	<div class="bg-gray-f6 p-t-md p-b-md border-b-gray-e">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<div class="bg-white p-md border-gray-e">
						<div class="top_con over-h">
							<div class="fh_img_con">
								<a class="pic_num" href="#">152张照片</a>
								<a href="#"><img src="{:U('Image/ScenicImg',array('w'=>250,'h'=>180,'image'=>urlencode($ScenicInfo['image']).'!feature'),false,false)}"></a>
							</div>
							<div class="fh_info_con p-t-xs">
								<span class="tc-main font-24">{$ScenicInfo.grade}</span>
								<span class="tc-main m-r-sm">分</span>
								<span class="glyphicon glyphicon-signal tc-main font-14"></span>
								<div class="m-t-md">
									{:W('Scenic/score',array('score'=>$ScenicInfo['grade'],'comment_count'=>'57'))}
								</div>
								<div class="m-t-sm">
									<div class="m-b-xs"><span class="glyphicon glyphicon-flag m-r-xs tc-grayd"> <span class="tc-gray6">2015位瓜友去过这里</span></span> </div>
									<div class="tc-gray6"><span class="glyphicon glyphicon-heart m-r-xs tc-grayd"> <span class="tc-gray6">25位瓜友想过这里</span></span></span> </div>
								</div>
								<div class="m-t-md">
									<a class="btn bg-main btn-sm"><span class="glyphicon glyphicon-edit"></span> 写评论</a>
								</div>
							</div>
						</div>


						<div class="m-t-md">
							{$ScenicInfo.desciption}
						</div>
						<div class="m-t-md">
							<span class="tc-gray9">地址：</span>
							{$ScenicInfo.address}
						</div>




						<div class="m-t-md">
							<span class="font-18">
								这里附近还有
							</span>
							<div class="m-t-md over-h">
								<div class="imgListCon">
									<a class="a_img" href="#">
										<img class="imgList3" src="__PUBLIC__/img/f1.png">
									</a>
									<div class="m-t-sm text-center">
										<a href="#">福利社</a>
									</div>
									<div class="m-t-xs text-center">
										{:W('Scenic/score',array('score'=>$ScenicInfo['grade'],'comment_count'=>'57'))}
									</div>
								</div>
								<div class="imgListCon">
									<a class="a_img" href="#">
										<img class="imgList3" src="__PUBLIC__/img/f1.png">
									</a>
									<div class="m-t-sm text-center">
										<a href="#">福利社</a>
									</div>
									<div class="m-t-xs text-center">

										{:W('Scenic/score',array('score'=>$ScenicInfo['grade'],'comment_count'=>'57'))}
									</div>
								</div>
								<div class="imgListCon mo">
									<a class="a_img" href="#">
										<img class="imgList3" src="__PUBLIC__/img/f1.png">
									</a>
									<div class="m-t-sm text-center">
										<a href="#">福利社</a>
									</div>
									<div class="m-t-xs text-center">
										{:W('Scenic/score',array('score'=>$ScenicInfo['grade'],'comment_count'=>'57'))}
									</div>
								</div>
								
								
							</div>
						</div>
					</div>




					<include file="ScenicContent/foodhotelComment" />


				</div>

				<div class="col-xs-4">
					<include file="ScenicContent/sideContent" />
				</div>
				
			</div>
		</div>


	</div>
	

    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/infomation.js"></script>
</html>