<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/Scenic_Index.css">
	<link rel="stylesheet" href="__PUBLIC__/css/carousel.css">
	

    <title>西瓜游-{$ScenicInfo.name}</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="border-b-gray-e ">
	    <div class="container p-t-md">
			<div class="row">
				<div class="col-xs-12">
					{:W('Scenic/breadcrumb',array('type'=>2,'id'=>$scenic_id))}
				</div>
				
				<div class="col-xs-8 m-b-sm">
					<h2>
						<a>{$ScenicInfo.name}</a>
					</h2>
				</div>
				<div class="col-xs-4">
					<ul class="op-3 over-h m-b-sm">
						<li>
							{:W('Scenic/scenicWant',array('scenic_id'=>$scenic_id))}
						</li>
						<li>
							{:W('Scenic/scenicBeen',array('scenic_id'=>$scenic_id))}
						</li>
						<li>
							{:W('Scenic/scenicZan',array('scenic_id'=>$scenic_id))}
						</li>
					</ul>
				</div>

				
				
			</div>
	    </div>
	</div>
	<div class="bg-gray-f6 p-t-md p-b-md border-b-gray-e">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<div class="bg-white p-md border-gray-e">
						<div class="top_con over-h">
							<div class="fh_img_con">
								<a class="pic_num" href="{:U('Scenic/photo',array('type'=>2,'id'=>$scenic_id))}">{$img_count}张照片</a>
								<a href="{:U('Scenic/photo',array('type'=>2,'id'=>$scenic_id))}"><img src="{:U('Image/ScenicImg',array('w'=>250,'h'=>180,'image'=>urlencode($ScenicInfo['image']).'!feature'),false,false)}"></a>
							</div>
							<div class="fh_info_con p-t-xs">
								<span class="tc-main font-24">{$ScenicInfo.grade}</span>
								<span class="tc-main m-r-sm">分</span>
								<span class="glyphicon glyphicon-signal tc-main font-14"></span>
								<div class="m-t-md">
									{:W('Scenic/score',array('score'=>$ScenicInfo['grade'],'info'=>$comment_count.'人评论'))}
								</div>
								<div class="m-t-sm">
									<div class="m-b-xs"><span class="glyphicon glyphicon-flag m-r-xs tc-grayd"> <span class="tc-gray6">{$been_count}位瓜友去过这里</span></span> </div>
									<div class="tc-gray6"><span class="glyphicon glyphicon-heart m-r-xs tc-grayd"> <span class="tc-gray6">{$want_count}位瓜友想过这里</span></span></span> </div>
								</div>
								<div class="m-t-md">
									<a id="xie_dp" class="btn bg-main btn-sm"><span class="glyphicon glyphicon-edit"></span> 写评论</a>
								</div>
							</div>
						</div>


						<div class="m-t-md desciption">
							{$ScenicInfo.desciption}
						</div>
						<div class="m-t-md">
							<span class="tc-gray9">地址：</span>
							{$ScenicInfo.address}
						</div>




						<div class="m-t-md">
							<span class="font-18">
								这里附近还有
							</span>
							<div class="m-t-md over-h">
								<volist name="NearestScenicList" id ="vo">
									<div class="imgListCon <if condition ='$i/3 eq 1'> mo</if>">
										<a class="a_img" href="{:U('Scenic/scenic',array('id'=>$vo['id']))}">
											<img class="imgList3" src="{:U('Image/ScenicImg',array('w'=>193,'h'=>120,'image'=>urlencode($vo['image']).'!feature'),false,false)}">
										</a>
										<div class="m-t-sm text-center">
											<a href="{:U('Scenic/scenic',array('id'=>$vo['id']))}">{$vo.name}</a>
										</div>
										<div class="m-t-xs text-center">
											{:W('Scenic/score',array('score'=>$vo['grade'],'info'=>kilometre($vo['distance'])))}
										</div>
									</div>
								</volist>
							</div>
						</div>
					</div>




					<include file="ScenicContent/Comment" />
					
					
					<div class="m-t-md bg-white p-md border-gray-e">
						{:W('Scenic/gradeEdit')}
					</div>

				</div>

				<div class="col-xs-4">
					<include file="ScenicContent/sideContent" />
				</div>
				
			</div>
		</div>


	</div>
	

    <include file="Common/footer" />


 <div class="modal fade bs-example-modal-lg"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">
          	{$ScenicInfo.name}
          </h4>
        </div>
        <div class="modal-body">
          <div style="height:500px;width:100%;">
          	<div id="modal-map" style="height:100%;"></div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

</body>
<include file="Common/footerJS" />
<script type="text/javascript" src="__PUBLIC__/assets/exif/js/exif.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.toaster.js"></script>
<script type="text/javascript">
	var PUBLIC = "__PUBLIC__";
	var scenic_id = {$scenic_id};
	var s_zan_url = "{:U('Zan/AjaxZan')}";
	var s_want_url = "{:U('ScenicWant/want')}";
	var s_been_url = "{:U('ScenicBeen/been')}";
	var login_state = <if condition="session('?login')">true<else/>false</if>;
	var _login_url = "{:U('Login/index')}?url=__SELF__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/scenic_comment.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/op.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/topic.i-d.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i1n66UyP2DFctjvKLRt68GKY"></script>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("map");
	var point = new BMap.Point({$ScenicInfo.longitude},{$ScenicInfo.latitude});
	var m_point = point;
	var marker = new BMap.Marker(point);
	map.centerAndZoom(point, 15);
	map.addOverlay(marker);
	map.disableDragging();     //禁止拖拽


	var modal_map = new BMap.Map("modal-map");
	// var m_point = new BMap.Point({$ScenicInfo.longitude},{$ScenicInfo.latitude});
	var m_marker = new BMap.Marker(m_point);
	modal_map.centerAndZoom(m_point, 15);
	modal_map.addOverlay(m_marker);
	modal_map.enableScrollWheelZoom(true);

	$(function(){
		$("#map").click(function(event) {
			$('#myModal').modal('show');
			setTimeout(function(){
			   modal_map.centerAndZoom(m_point, 15);
			}, 400);
		});
		$("#xie_dp").click(function(event) {
			$("html,body").animate({scrollTop:$('#dp').offset().top},200);
		});
	})
</script>
</html>