<div class="m-t-md bg-white p-md border-gray-e">
	<div class="p-b-sm font-18 border-b-gray-e">
		点评
	</div>
	<div class="commentCon p-t-md">


		<for start="1" end="11">
			<div class="media m-t-md">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object c_u_icon" src="__PUBLIC__/img/f1.png" alt="...">
			    </a>
			  </div>
			  <div class="media-body p-b-md border-b-gray-e">
			    <h5 class="media-heading">
			    	<a href="#">这是一个用户名</a>
			    	<span class="pull-right tc-gray9">
						<i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i><i class="iconfont icon-xing tc-main"></i>
						<span class="over-h half" ><i class="iconfont icon-xing tc-grayc" style="position:absolute;"></i><i class="iconfont icon-1 tc-main" style="position:absolute;"></i></span><i class="iconfont icon-xing tc-grayc m-l-14"></i>
						<span class="tc-gray9 m-l-sm font-12">2016-1-6</span>
			    	</span>
			    </h5>
			    <div>星光大道是为了表扬香港电影业界的杰出人士的特色景点，仿效美国好莱坞星光大道建造，杰出电影工作者的芳名与掌印均镶嵌在经过特别制作的纪念牌匾上，依据年代及次排列在星光大道上。目前，星光大道可以容纳100块纪念牌匾。</div>
			  </div>
			</div>

		</for>
		<a href="javascript:void(0)" class="btn-block btn btn-md bg-main">加载更多</a>
	</div>
</div>