


            <!-- Modal -->
<div class="modal fade in" id="photo_upload" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6 class="modal-title">
          
          <form class="form-inline">
              <div class="form-group">
                <label class="m-r-md">将照片保存到相册：</label>
                <select class="form-control input-sm" id="select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              
              
            </form>
        </h6>
      </div>
      <div class="modal-body">
        <div class="up_btn_container">
          <button class="up_btn btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> 本地上传</button>
          <div class="up_info">支持JPG、JPEG、PNG格式，每张小于5M.</div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary hidden">确定</button>
      </div>
    </div>
  </div>
</div>