<div class="photoCon"> 
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/6.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/1.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/2.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/3.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/4.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/5.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/7.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/8.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/9.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="photoItem">
    <img src="http://img2.3lian.com/2014/f2/132/d/11.jpg">
    <div class="info">
      <a href="#">麦乐</a> 上传于 2016-2-4
    </div>
    <a href="javascript:void(0)" class="p_delete">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
</div>