


              <!-- Modal -->
<div class="modal fade in" id="photo_upload" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6 class="modal-title">
          
          <form class="form-inline">
              <div class="form-group">
                <label class="m-r-md">将照片保存到相册：</label>
                <select class="form-control input-sm" id="album">
                </select>
              </div>
              
              
            </form>
        </h6>
      </div>
      <div class="modal-body">
        <div id="_img_up_container" class="img_container">
          
        </div>
        <div class="add m-t-md text-center" style="display:none">
        <button class="btn btn-success btn-sm img_file"><span class="glyphicon glyphicon-plus"></span> 添加</button>
        </div>
        <div class="up_btn_container">
          <button class="up_btn btn btn-success btn-lg img_file"><span class="glyphicon glyphicon-plus"></span> 本地上传</button>
          <div class="up_info">支持JPG、JPEG、PNG格式，每张小于5M.</div>
        </div>
        <!-- <form id="test" method="post" action="{:U('Upload/upload1')}" enctype="multipart/form-data"> -->
        <input class="hidden" name="img_file" id="img_file" type="file" accept="image/jpg,image/png,image/gif,image/jpeg" multiple="multiple">
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" id="img_ok" class="btn btn-primary hidden">确定</button>
      </div>
    </div>
  </div>
</div>
<form id="upload_form" method="post" action="{:U('Upload/upload')}" enctype="multipart/form-data">
  <input name="img_str" type="hidden" value="">
</form>
