


              <!-- Modal -->
<div class="modal fade in" id="photo_upload" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6 class="modal-title">
          
          <form class="form-inline">
              <div id="old_album" class="form-group">
                <label class="m-r-md">将照片保存到相册：</label>
                <select class="form-control input-sm" id="album">
                </select>
              </div>
              <div id="new_album" class="form-group hidden">
                <label class="m-r-md">相册名：</label>
                <input type="text" class="form-control" id="album_name" maxLength="15" placeholder="长度不大于15个字符">
              </div>
              <button id="add_album" type="button" class="btn btn-default btn-sm hidden" data-loading-text="新建中...">+ 新建</button>

              <a id="add_album_toggle" href="javascript:void(0)" class="font-12 tc-black m-l-lg">新建相册</a>
          </form>
        </h6>
      </div>
      <div class="modal-body">
        <div id="_img_up_container" class="img_container">
          
        </div>
        <div class="add m-t-md text-center" style="display:none">
        <button class="btn btn-success btn-sm img_file"><span class="glyphicon glyphicon-plus"></span> 添加</button>
        </div>
        <div class="up_btn_container">
          <button class="up_btn btn btn-success btn-lg img_file"><span class="glyphicon glyphicon-plus"></span> 本地上传</button>
          <div class="up_info">支持JPG、JPEG、PNG格式，每张小于5M.</div>
        </div>
        
        <input class="hidden" name="img_file" id="img_file" type="file" accept="image/jpg,image/png,image/gif,image/jpeg" multiple="multiple">
        
      </div>
      <div class="modal-footer">
        <button type="button" id="img_ok" class="btn btn-primary hidden" data-loading-text="提交中...">确定</button>
      </div>
    </div>
  </div>
</div>
<form id="upload_form" method="post" action="{:U('Image/scenic_img_upload')}" enctype="multipart/form-data">
  <input name="img_str" type="hidden" value="">
</form>
