
<div id="map" class="bg-white font-18 tc-gray9 m-b-sm" style="height:200px;line-height:200px;"></div>
<hr>


<div class="font-18 m-t-sm">
	该城市游记
	<a href="#" class="pull-right font-12 tc-gray9 m-t-xs">更多>></a>
</div>
<div class="m-t-sm">
	{:W('TravelNote/Hot',array('city_id'=>$city_id,'count'=>3))}
</div>
<hr>


<div class="font-18 m-t-sm">
	该城市美食
	<a href="{:U('Scenic/city',array('id'=>$city_id,'type_id'=>$food_id))}" class="pull-right font-12 tc-gray9 m-t-xs">更多>></a>
</div>
<div class="m-t-sm">
	{:W('Scenic/HotFood',array('city_id'=>$city_id,'count'=>4))}
</div>

<hr>


<hr>


