<div class="row">
	<div class="col-xs-12">
		<h3 class="page-header to">装备管理</h3>
	</div>
	<div class="col-xs-12 p-l-md tc-gray9">
		<span class="tc-black">{$brand}</span> 总共<span class="tc-black"> {$type_count} </span>个装备分类
	</div>
	<div class="col-xs-12 m-t-sm">
		<div class="boder-e-container">
			<a href="{:U('Equipment/equipment')}" class="space-item <if condition="$type_id eq '0'"> active</if>">全部({$type_all_count})</a>
			<volist name="typeList" id="vo">
				<a href="{:U('Equipment/equipment',array('type_id'=>$vo['id'],'brand_id'=>$brand_id))}" class="space-item <if condition="$type_id eq $vo['id']"> active</if>">{$vo.type}({$vo.count})</a>
			</volist>
		</div>
	</div>
	<div class="col-xs-12 p-l-md m-t-sm tc-gray9">
		<span class="tc-black">{$type}</span> 总共<span class="tc-black"> {$brand_count}</span>个装备品牌
	</div>
	<div class="col-xs-12 m-t-sm">
		<div class="boder-e-container">
			<a href="{:U('Equipment/equipment')}" class="space-item <if condition="$brand_id eq '0'"> active</if>">全部({$brand_all_count})</a>
			<volist name="brandList" id="vo">
				<a href="{:U('Equipment/equipment',array('brand_id'=>$vo['id'],'type_id'=>$type_id))}" class="space-item <if condition="$brand_id eq $vo['id']"> active</if>">{$vo.brand}({$vo.count})</a>
			</volist>

			<a href="{:U('Equipment/brand')}" class="space-item"><span class="glyphicon glyphicon-blackboard"></span> 更多品牌</a>
		</div>
	</div>
	<if condition ="$type neq '' or $brand_id neq ''">
	<div class="col-xs-12 m-t-md">
		<if condition ="$brand neq ''">
			<span class='space-item'>{$brand} <a href="{:U('Equipment/equipment',array('type_id'=>$type_id))}">×</a></span>
		</if>
		<if condition ="$type neq ''">
			<span class='space-item'>{$type} <a href="{:U('Equipment/equipment',array('brand_id'=>$brand_id))}">×</a></span>
		</if>
	</div>
	</if>



	

	<div class="col-xs-12 p-l-md m-t-sm tc-gray9">
		总共 <span class="tc-black"> {$all_count} </span>个相关内容
		<a href="{:U('Equipment/equipmentFrom',array('province_id'=>$province_id,array('city_id',$city_id)))}" class="pull-right"><span class="glyphicon glyphicon-plus"></span> 添加装备</a>
		
	</div>
	<div class="col-xs-12 m-t-sm">
		<div class="city-container">
			<volist name="equipmentList" id="vo">
			<div class="city-item">
				<div class="left-img">
					<a class="img-change-btn" data-id="{$vo.id}" href="javascrip:;">修改图片</a>
					<img src="{$vo.image|default='__PUBLIC__/img/city.jpg'}">
				</div>
				<div class="font-12 tc-gray9 item-info">
					<div class="to1">
						<a class="font-bold" title="{$vo.name}">{$vo.name}</a>
					</div>
					<div class="to1">
						<a href="#" class="font-bold" title="{$vo.brand}">{$vo.brand}</a>
					</div>
					<div class="">
						<a href="#">{$vo.type}</a>
						·
						评分 <a>{$vo.grade}</a>
						·
						<a href="{:U('ScenicGrade/grade',array('scenic_id'=>$vo['id']))}">{$vo.comment_count}</a>个评论
						·
						估价 <a>￥{$vo.price}</a>
						·
						（<a href="{:U('Home/Equipment/equipment',array('id'=>$vo['id']))}" target="_blank">查看</a> | <a href="{:U('Equipment/equipmentFrom',array('id'=>$vo['id']))}">修改</a>）
					</div>
				</div>
			</div>

			</volist>
		</div>
		<ul class="pagination pagination-sm m-t-lg">
			{$page}
		</ul>
	</div>


</div>
<form action="{:U('Equipment/equipment_img_change')}" id="img-change-form" method="post" data-obj="" enctype="multipart/form-data">
	<input type="hidden" name="id" />
	<input type="file" name="img" class="hidden" accept="image/jpg,image/png,image/jpeg"/>
</form>
<script type="text/javascript" src="__PUBLIC__/assets/jquery/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin/addcity.js"></script>
<style type="text/css">
	.city-item{height: 205px;}
</style>
<script type="text/javascript">
	$(function(){
		$('button[type="submit"]').click(function(){
			$(this).button('loading');
		}).blur(function(){
			$(this).button('reset');
		});
	})
</script>
