<volist name="equipmentList" id="vo">
			<div class="city-item">
				<div class="left-img">
					<a class="img-change-btn" data-id="{$vo.id}" href="javascrip:;">修改图片</a>
					<img src="{$vo.image|default='__PUBLIC__/img/equipment.jpg'}">
				</div>
				<div class="font-12 tc-gray9 item-info">
					<div class="to1">
						<a class="font-bold" title="{$vo.name}">{$vo.name}</a>
					</div>
					<div class="to1">
						<a href="{:U('Equipment/equipment',array('brand_id'=>$vo['brand_id']))}" class="font-bold" title="{$vo.brand}">{$vo.brand}</a>
					</div>
					<div class="">
						<a href="#">{$vo.type}</a>
						·
						评分 <a>{$vo.grade}</a>
						·
						<a href="{:U('ScenicGrade/grade',array('scenic_id'=>$vo['id']))}">{$vo.comment_count}</a>个评论
						·
						估价 <a><if condition="$vo['price'] neq ''">￥{$vo.price}<else/>暂无估价</if></a>
						·
						（<a href="{:U('Home/Equipment/equipment',array('id'=>$vo['id']))}" target="_blank">查看</a> | <a href="{:U('Equipment/equipmentForm',array('id'=>$vo['id']))}">修改</a> | 
						<if condition="$vo['delete_tag'] eq 0">
						<a href="{:U('Equipment/delete',array('id'=>$vo['id']))}" onclick="return confirm('确认删除吗')">删除</a>
						<else/>
						<span>已删除</span>
						</if>
						）
					</div>
				</div>
			</div>

</volist>