
	<div class="row margin-bottom">
		<div class="col-xs-12">
	        <h3 class="page-header">
            用户查询
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-default btn-sm">{$sort_text}</a>
              <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{:U('User/index',array('sort'=>'reg_time','s'=>'desc'))}">注册时间 <span class="glyphicon glyphicon-circle-arrow-down"></span></a></li>
                <li><a href="{:U('User/index',array('sort'=>'reg_time','s'=>'asc'))}">注册时间 <span class="glyphicon glyphicon-circle-arrow-up"></span></a></li>
                <li class="divider"></li>
                <li><a href="{:U('User/index',array('sort'=>'last_time','s'=>'desc'))}">登录时间 <span class="glyphicon glyphicon-circle-arrow-down"></span></a></li>
                <li><a href="{:U('User/index',array('sort'=>'last_time','s'=>'asc'))}">登录时间 <span class="glyphicon glyphicon-circle-arrow-up"></span></a></li>
              </ul>
            </div>

          </h3>
	    </div>
		<!-- / .col-xs-12 -->
		
	</div>
  <include file="User/list" />
    <nav>
      <ul class="pagination pagination-sm">
      {$page}
      </ul>
    </nav>
	<!-- / .row -->