
<div class="" style="overflow:auto">
  <table class="table table-bordered" style="min-width:1112px;">
      <thead>
        <tr>
          <th>用户名</th>
          <th>昵称</th>
          <th>权限</th>
          <th>头像</th>
          <th>注册时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <volist name="userList" id="vo">
          <tr>
          <td>{$vo.tel}</td>
          <td>{$vo.nickname}</td>
          <td>
            <switch name="vo.power">    
              <case value="2">超级管理员</case>    
              <case value="1">管理员</case>    
              <default />用户
            </switch>
          </td>
          <td><img src="{:C('__DATA__')}/login_thumb/{$vo.icon|default='default.jpg'}" style="width:30px;height:30px;"></td>
          <td>{$vo.reg_time}</td>
          <td class="font-12">
            <a href="{:U('User/user',array('id'=>$vo['id']))}">查看信息</a>
            · 
            <switch name="vo.power">    
              <case value="2">超级管理员</case>    
              <case value="1"><a href="{:U('User/power_toggle',array('id'=>$vo['id']))}">设为成员</a></case>    
              <default /><a href="{:U('User/power_toggle',array('id'=>$vo['id']))}">设为管理</a>
            </switch>
            
            ·
            <if condition="$vo['delete_tag'] eq 0">
            <a href="{:U('User/delete',array('id'=>$vo['id']))}" onclick="return confirm('确认删除吗')">删除</a>
            <else/>
            <span>已删除</span>
            </if>
          </td>
          </tr>
        </volist>
      </tbody>
    </table>
    </div>


    

