<!DOCTYPE html>
<html>
<head>
    <include file="Common/headerCSS" />
	<link rel="stylesheet" href="__PUBLIC__/css/Index_t.css">
    <title>{$infomation.title}</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="container m-t-md">
		<div class="row">
			<div class="col-xs-9">
				<h3 class="m-b-md">{$infomation.title}</h3>
				<div class="pull-left">
				<a href="#"><img class="i_u_i" src="{$infomation.user.icon|default="__PUBLIC__/img/udefault.png"}"></a>
				</div>
				<a href="#" class="m-l-xs tc-grayb"> {$infomation.user.nickname}</a>
				<span class="m-l-md tc-grayb l_h_25"><span class="iconfont icon-fabu"></span> {$infomation.publish_time}</span>

				<span class="m-l-md tc-grayb"><span class="iconfont icon-liulan"></span> {$infomation.browse}</span>

				<span class="m-l-md tc-grayb"><span class="iconfont icon-pinglun"></span> {$infomation.comment_count}</span>
				<div class="img-center">
					<img src="{$infomation.image|default="__PUBLIC__/img/default.jpg"}">
				</div>

				<div class="article-content m-b-lg">
					{$infomation.content}
	            </div>


	            <div class="c_area">
	            	<h4 class="b_main"><span class="b_border">发表评论</span></h4>
	            	<textarea class="form-control m-t-lg" id="saytext" name="saytext" placeholder="客官，8个字起评，不讲价哟" rows="5" style="resize: none; overflow-y: hidden;"></textarea>
					<a href="javascript:void(0)" data-loading-text="发表中..." id="addComment" data-type="2" class="m-t-md btn bg-main btn-md">发表评论</a>
					<div class="reply-container" style="position: relative;display: inline-block;vertical-align: middle;">
						
					</div>

					<span style="position: relative;display: inline-block;vertical-align: middle;" class="m-l-sm m-t-md tc-gray9 tag hidden">请回复一些有意义的信息，不健康的内容将很快被删除。</span>
	            </div>

	            <div class="c_container m-t-lg">
	            	<if condition = "$infomation['comment_count'] neq 0">
		            	<h4 class="m-b-lg b_main"><span class="b_border">评论列表</span></h4>
		            	<!-- 评论列表 -->
		            	<div id="list_container">
		            	<volist name="CommentList" id="vo">
							<div class="media">
							  <div class="media-left">
							    <a href="{$vo.sender_url}">
							      <img class="media-object c_u_icon" src="{$vo.sender_icon|default="__PUBLIC__/img/udefault.png"}" >
							    </a>
							  </div>
							  <div class="media-body b_main">
							    <h5 class="media-heading">
							    	<a class="nickname_text" href="{$vo.sender_url}">{$vo.sender_nickname}</a> <if condition="$vo['receiver_id'] neq ''">回复了 <a href="{$vo.receiver_url}">{$vo.receiver_nickname}</a></if> <span class="pull-right tc-gray9 font-12">{$vo.time}</span>
							    </h5>
							    <p class="m-t-xs c-content">
							    {$vo.content}
								</p>
								<if condition="session('login') neq $vo['sender_id']">
									<a class="reply-btn" href="javascript:void(0)" data-reply="{$vo.sender_id}"><span class="iconfont icon-pinglun"> </span> 回复</a>
								</if>
							  </div>
							</div>
						</volist>
						</div>
						<if condition="$infomation['comment_count'] gt 4">
						<a id="comment_loading" data-type='2' href="javascript:void(0)" class="btn-block p-md text-center m-t-sm bg-main m-b-md">加载更多</a>
						<else/>
						<a href="javascript:void(0)" class="btn-block p-md text-center m-t-sm bg-main m-b-md">暂无更多评论</a>
						</if>
						<!-- /评论列表 -->
						<else />
						<h4 class="m-b-lg b_main"><span class="b_border">评论列表</span></h4>
						<div class="tc-gray9 text-center" style="height:200px;line-height:200px; background-color:#fcfcfc;">暂无评论</div>
					</if>
	            </div>
			</div>
				


			<div class="col-xs-3">
				<div class="m-t-sm m-b-md">
					<h5 class="b_main m-b-md"><span class="b_border">分享</span></h5>
					<div class="operate">
	                    <!-- JiaThis Button BEGIN -->
	                    <a class="jiathis_button_weixin share-btn btn-success" title="分享到微信">
	                    	<i class="iconfont icon-weixin"></i>
	                    </a> 
	                    <a class="jiathis_button_cqq share-btn bg-qq" title="分享到QQ好友">
	                    	<i class="iconfont icon-qq"></i>
	                    </a> 
	                    <a class="jiathis_button_qzone share-btn bg-qq" title="分享到QQ空间">
	                    	<i class="iconfont icon-kongjian"></i>
	                    </a> 
	                    <a class="jiathis_button_tsina share-btn bg-weibo" title="分享到新浪微博">
	                    	<i class="iconfont icon-iconfontweibo"></i>
	                    </a>

	                    
	            
	                </div>
				</div>
				{:W('InfomationSidelist/side',array('count'=>5))}
				<!-- <div  id="side-list">
					<h4 class="b_main m-b-lg"><span class="b_border">本文作者</span></h4>
					<div class="img-center">
						<a href="#"><img src="__PUBLIC__/img/default.jpg" class="author"></a>
						<h4 class="text-center"><a href="#">麦乐</a></h4>
						<div class="flex-row">
							<div class="text-center m-t-sm" style="width:50%">
								<a href="#">帖子：2</a>
							</div>
							<div class="text-center m-t-sm" style="width:50%">
								<a href="#">游记：5</a>
							</div>
							<div class="text-center m-t-sm" style="width:50%">
								<a >粉丝：0</a>
							</div>
							<div class="text-center m-t-sm" style="width:50%">
								<a href="#">资讯：12</a>
							</div>
						</div>
						<div class="m-t-sm text-center">
							<a href="#" class="btn bg-main btn-sm m-xs "><span class="glyphicon glyphicon-plus"> </span> 关注</a>
							 <a href="#" class="btn bg-main btn-sm m-xs"><span class="glyphicon glyphicon-ok"> </span> 已关注</a> 
						</div>

						
					</div>
				</div> -->
			</div>
		</div>
    </div>
    <include file="Common/footer" />
</body>
<include file="Common/footerJS" />

<script type="text/javascript">
	var addComment_url = "{:U('Comment/addComment')}";
	var id  = {$infomation.id};
	var loading_url = "{:U('Comment/loading')}";
	var PUBLIC = "__PUBLIC__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/infomation.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
</html>